.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--pe-space-3);
  width: 100%;
  align-items: center;
  justify-content: center;
}
.label .text {
  color: #93AAB2;
  font-family: var(--pe-font-mono);
  font-weight: var(--pe-font-weight-normal);
  font-size: var(--pe-text-sm);
  line-height: 110%;
  margin: 0;
}
.label .input {
  flex: 1;
}
