@import '../../styles/variables.scss';

@mixin Columns ($absoluteTimespan: false) {
  $timeSpanWidth: #{if($absoluteTimespan, '9rem', '6rem')};

  display: grid;
  gap: 16px;
  width: 100%;

  @container (min-width: 90em) {
    grid-template-columns:
    5.3rem // height
    minmax(0, 1fr) // hash
    minmax(0, 1fr) // proposed by
    minmax(5rem, 15rem) // fees
    4.75rem // tx count
    $timeSpanWidth; // time
  }

  grid-template-columns:
    5.3rem // height
    minmax(0, 1fr) // hash
    minmax(0, 1fr) // proposed by
    minmax(5rem, 8rem) // fees
    4.75rem // tx count
    $timeSpanWidth; // time

  @container (max-width: 56em) {
    grid-template-columns:
      5.3rem // height
      minmax(0, 1fr) // hash
      minmax(0, 1fr) // proposed by
      minmax(5rem, 8rem) // fees
      4.75rem // tx count
      $timeSpanWidth; // time
  }

  @container (max-width: 46.5em) {
    grid-template-columns:
      5.3rem // height
      minmax(0, 1fr) // hash
      minmax(0, 1fr) // proposed by
      4.75rem // tx count
      $timeSpanWidth; // time
  }

  @container (max-width: 37.5em) {
    grid-template-columns:
      5.3rem // height
      minmax(0, 1fr) // hash
      4.75rem // tx count
      $timeSpanWidth; // time
  }

  @container (max-width: 30em) {
    grid-template-columns:
      5.3rem // height
      minmax(0, 1fr) // hash
      $timeSpanWidth; // time
  }

  @container (max-width: 24.5em) {
    grid-template-columns:
      minmax(0, 1fr) // hash
      4.75rem // tx count
      $timeSpanWidth; // time
  }

  @container (max-width: 23em) {
    grid-template-columns:
      minmax(0, 1fr) // hash
      $timeSpanWidth; // time
  }
}

@mixin Column () {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &--Height,
  &--Hash,
  &--Validator {
    justify-content: flex-start;
    text-align: left;
  }

  &:last-child {
    text-align: right;
    justify-content: flex-end;
    white-space: nowrap;
  }

  &--Fees {
    width: 5rem;
    font-variant-numeric: tabular-nums;
  }

  &--Txs {
    font-variant-numeric: tabular-nums;
  }

  @container (max-width: 46.5em) {
    &--Fees {
      display: none;
    }
  }

  @container (max-width: 37.5em) {
    &--Validator {
      display: none;
    }
  }

  @container (max-width: 30em) {
    &--Txs {
      display: none;
    }
  }

  @container (max-width: 24.5em) {
    &--Txs {
      display: flex;
    }

    &--Height {
      display: none;
    }
  }

  @container (max-width: 23em) {
    &--Txs {
      display: none;
    }
  }
}
