.BlockDigestCard {
  padding: calc(var(--pe-space-3) + 0px);
}

@media screen and (min-width: 48em) {
  .BlockDigestCard {
    padding: calc(var(--pe-space-4) + 0px);
  }
}

@media screen and (min-width: 62em) {
  .BlockDigestCard {
    padding: calc(var(--pe-space-5) + 0px);
  }
}

@media screen and (min-width: 80em) {
  .BlockDigestCard {
    padding: calc(var(--pe-space-6) + 0px);
  }
}

.BlockDigestCard--Loading .InfoLine__Value {
  height: var(--pe-space-6);
}

.BlockDigestCard__InfoContainer .InfoLine__Title svg {
  width: var(--pe-space-7);
  height: var(--pe-space-7);
}

.BlockDigestCard__InfoContainer > .InfoLine > .InfoLine__Title svg {
  margin-right: var(--pe-space-3);
}

.BlockDigestCard__InfoContainer > .InfoLine > .InfoLine__Value {
  font-size: 0.813rem;
}

.BlockDigestCard__InfoLine--Validator .InfoLine__Value {
  max-width: 20rem;
  overflow: hidden;
}

.BlockDigestCard__InfoLine--TotalTransactions > .InfoLine .InfoLine__Title,
.BlockDigestCard__InfoLine--TotalTransactions > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--QuorumIndex > .InfoLine .InfoLine__Title,
.BlockDigestCard__InfoLine--QuorumIndex > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--Epoch > .InfoLine .InfoLine__Title,
.BlockDigestCard__InfoLine--Epoch > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--QuorumMembers > .InfoLine .InfoLine__Title,
.BlockDigestCard__InfoLine--QuorumMembers > .InfoLine .InfoLine__Title span {
  align-items: center;
  display: flex;
}

.BlockDigestCard__InfoLine--TotalTransactions > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--QuorumIndex > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--Epoch > .InfoLine .InfoLine__Title span,
.BlockDigestCard__InfoLine--QuorumMembers > .InfoLine .InfoLine__Title span {
  gap: var(--pe-space-3);
}

.BlockDigestCard__InfoLine--TotalTransactions > .InfoLine .InfoLine__Value,
.BlockDigestCard__InfoLine--QuorumIndex > .InfoLine .InfoLine__Value,
.BlockDigestCard__InfoLine--Epoch > .InfoLine .InfoLine__Value,
.BlockDigestCard__InfoLine--QuorumMembers > .InfoLine .InfoLine__Value {
  font-size: 0.813rem;
}

.BlockDigestCard {
  font-family: var(--pe-font-mono);
  font-size: var(--pe-text-sm);
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-3_5);
  background: rgba(var(--pe-color-gray-800-rgb), 0.5);
  border-radius: var(--pe-radius-def);
  container-type: inline-size;
  border-radius: var(--pe-radius-block);
  container-type: inline-size;
}

.BlockDigestCard--Loading .BlockDigestCard__InfoContainer {
  overflow: hidden;
}

.BlockDigestCard--Loading .BlockDigestCard__InfoContainerValue {
  width: 100px;
  max-width: 100%;
}

.BlockDigestCard__RowContainer {
  display: flex;
  justify-content: space-between;
  gap: var(--pe-space-3_5);
}

.BlockDigestCard__InfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--pe-space-1);
  padding: var(--pe-space-6);
  background: rgba(var(--pe-color-gray-800-rgb), 0.5);
  border-radius: var(--pe-radius-def);
  width: 100%;
}

.BlockDigestCard__LinesContainer {
  flex-direction: column;
}

.BlockDigestCard .BlockDigestCard__InfoLineValueContent {
  display: flex;
  gap: var(--pe-space-1);
  align-items: center;
}

.BlockDigestCard__InfoIcon {
  cursor: pointer;
  transition: var(--pe-transition-def);
  width: var(--pe-space-4) !important;
  height: var(--pe-space-4) !important;
}

.BlockDigestCard__InfoIcon:hover {
  cursor: pointer;
  color: var(--pe-color-fg);
}

.BlockDigestCard__InfoLine--TotalTransactions,
.BlockDigestCard__InfoLine--QuorumIndex,
.BlockDigestCard__InfoLine--Epoch,
.BlockDigestCard__InfoLine--QuorumMembers {
  width: 100%;
}

@container (max-width: 35rem) {
  .BlockDigestCard__RowContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 30em) {
  .BlockDigestCard__InfoLine--Validator .InfoLine__Value {
    width: 100%;
  }

  .BlockDigestCard__InfoLine--Validator .InfoLine__Value .Identifier {
    width: 100%;
    justify-content: space-between;
  }

  .BlockDigestCard__InfoLine {
    flex-wrap: wrap;
  }
}
