@use '../../styles/mixins.scss';
@use './variables' as blocks;
@import '../../styles/variables.scss';

.BlocksListItem {
  @include mixins.DefListItem;
  font-size: 0.75rem;

  &__Content {
    @include blocks.Columns();
    align-items: center;
  }

  &__LinkContainer {
    max-width: 100%;
  }

  &__Column {
    @include blocks.Column();
    display: flex;
    align-items: center;

    &:last-child {
      text-align: right;
      justify-content: flex-end;
    }

    &--Fees {
      overflow: visible;
    }

    &--Validator {
      .Identifier__SymbolsContainer {
        line-height: 0.8rem;
      }
    }
  }
}