@use '../../styles/mixins.scss';
@use './variables' as blocks;
@import '../../styles/variables.scss';

.BlocksListItem {
  @include mixins.DefListItem;
  font-size: 0.75rem;

  &__Content {
    @include blocks.Columns();
    align-items: center;
  }

  &--TimestampAbsolute &__Content {
    @include blocks.Columns(true);
  }

  &__LinkContainer {
    max-width: 100%;
  }

  &__Column {
    @include blocks.Column();

    &:last-child {
      text-align: right;
      justify-content: flex-end;
    }

    &--Fees {
      overflow: visible;
    }

    &--Validator {
      .Identifier__SymbolsContainer {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 0.8rem;
        max-height: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal !important;
      }
    }

    @container (max-width: 56em) {
      &--Validator {
        .Identifier__SymbolsContainer {
          -webkit-line-clamp: 1;
          max-height: 0.8rem;
        }
      }
    }
  }
}
