.BlockTotalCard__Title {
  white-space: break-spaces;
  word-break: break-all;
}
.BlockTotalCard__Title .Alias__Name,
.BlockTotalCard__Title .Alias__Domain {
  font-family: var(--pe-font-heading);
  font-size: 0.875rem;
  font-weight: 700;
}
.BlockTotalCard__Title .Alias__Domain {
  color: var(--pe-color-brand-light);
  opacity: 1;
}
.BlockTotalCard--Loading .InfoLine__Value {
  height: 1.5rem;
}
.BlockTotalCard__ContentContainer {
  display: flex;
  gap: 2.5rem;
}
.BlockTotalCard__Column {
  position: relative;
  width: 50%;
}
.BlockTotalCard__Header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.BlockTotalCard__Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--pe-font-mono);
  font-size: 0.75rem;
  color: var(--pe-color-gray-500);
  width: 88px;
  height: 88px;
  border: 1px solid rgba(137, 126, 126, 0.1);
  flex-shrink: 0;
  margin-left: 24px;
}
.BlockTotalCard__HeaderLines {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
  overflow: hidden;
}
.BlockTotalCard__InfoLine {
  gap: 14px;
}
.BlockTotalCard__CommonInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.BlockTotalCard__CommonInfo .HorisontalSeparator {
  margin: 0;
}
@media screen and (max-width: 62em) {
  .BlockTotalCard__ContentContainer {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 48em) {
  .BlockTotalCard__ContentContainer {
    flex-direction: column;
  }
  .BlockTotalCard__ContentContainer, .BlockTotalCard__CommonLines {
    gap: 0.75rem;
  }
  .BlockTotalCard__Column {
    position: static;
    width: 100%;
  }
}
.BlockTotalCard__Header {
  align-items: flex-start;
}
.BlockTotalCard__Avatar svg {
  width: 54px;
  height: 54px;
}
.BlockTotalCard__InfoLine--QuorumHash .InfoLine__Value, .BlockTotalCard__InfoLine--AppHash .InfoLine__Value, .BlockTotalCard__InfoLine--Hash .InfoLine__Value {
  width: 100%;
}
.BlockTotalCard__InfoLine--QuorumHash .Identifier, .BlockTotalCard__InfoLine--AppHash .Identifier, .BlockTotalCard__InfoLine--Hash .Identifier {
  justify-content: flex-end;
}
.BlockTotalCard__BlockHeight {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  justify-content: space-between;
  align-items: center;
}
.BlockTotalCard__BlockHeight .ValueCard {
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
}
.BlockTotalCard__BlockHeight .ValueCard svg {
  height: 0.5rem;
}
@media screen and (max-width: 30em) {
  .BlockTotalCard__Title {
    white-space: break-spaces;
    word-break: break-all;
  }
  .BlockTotalCard__Title .Alias__Name,
  .BlockTotalCard__Title .Alias__Domain {
    font-family: var(--pe-font-heading);
    font-size: 0.875rem;
    font-weight: 700;
  }
  .BlockTotalCard__Title .Alias__Domain {
    color: var(--pe-color-brand-light);
    opacity: 1;
  }
  .BlockTotalCard--Loading .InfoLine__Value {
    height: 1.5rem;
  }
  .BlockTotalCard__ContentContainer {
    display: flex;
    gap: 2.5rem;
  }
  .BlockTotalCard__Column {
    position: relative;
    width: 50%;
  }
  .BlockTotalCard__Header {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .BlockTotalCard__Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--pe-font-mono);
    font-size: 0.75rem;
    color: var(--pe-color-gray-500);
    width: 88px;
    height: 88px;
    border: 1px solid rgba(137, 126, 126, 0.1);
    flex-shrink: 0;
    margin-left: 24px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }
  .BlockTotalCard__HeaderLines {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
    overflow: hidden;
  }
  .BlockTotalCard__InfoLine {
    gap: 14px;
  }
  .BlockTotalCard__CommonInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .BlockTotalCard__CommonInfo .HorisontalSeparator {
    margin: 0;
  }
}
@media screen and (max-width: 30em) and (max-width: 62em) {
  .BlockTotalCard__ContentContainer {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 30em) and (max-width: 48em) {
  .BlockTotalCard__ContentContainer {
    flex-direction: column;
  }
  .BlockTotalCard__ContentContainer, .BlockTotalCard__CommonLines {
    gap: 0.75rem;
  }
  .BlockTotalCard__Column {
    position: static;
    width: 100%;
  }
}
@media screen and (max-width: 30em) {
  .BlockTotalCard__InfoLine--Hash {
    padding-right: 100px;
  }
  .BlockTotalCard__Header .InfoLine {
    flex-wrap: wrap;
  }
  .BlockTotalCard__InfoLine--Hash .Identifier {
    justify-content: flex-start;
    text-align: left;
  }
}
