@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.BlockTotalCard {
  @include mixins.TotalCard();

  &__Header {
    align-items: flex-start;
  }

  &__Avatar {
    svg {
      width: 54px;
      height: 54px;
    }
  }

  &__InfoLine {
    &--QuorumHash, &--AppHash, &--Hash {
      .InfoLine__Value {
        width: 100%;
      }
      .Identifier {
        justify-content: flex-end;
      }
    }
  }

  &__BlockHeight {
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    justify-content: space-between;
    align-items: center;

    .ValueCard {
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      width: max-content;

      svg {
        height: 0.5rem;
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    @include mixins.TotalCard(true);

    &__InfoLine {
      &--Hash {
        padding-right: 100px;
      }
    }

    &__Header {
      .InfoLine {
        flex-wrap: wrap;
      }
    }

    &__InfoLine {
      &--Hash {
        .Identifier {
          justify-content: flex-start;
          text-align: left;
        }
      }
    }
  }
}
