@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.BlockTotalCard {
  @include mixins.EntityCard();

  &__Avatar {
    svg {
      width: 54px;
      height: 54px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__Header {
      .InfoLine {
        flex-wrap: wrap;
      }
    }
  }
}
