@use '../../styles/mixins.scss';
@use './variables' as blocks;
@import '../../styles/variables.scss';

.BlocksList {
  @include mixins.List;
  container-type: inline-size;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include blocks.Columns();
  }

  &--TimestampAbsolute &__ColumnTitles {
    @include blocks.Columns(true);
  }

  &__ColumnTitle {
    @include blocks.Column();

    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;

    &--Hash {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }
}
