.block_details {
    background-color: #1a4049;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.block_details_item {
    display: flex;
    justify-content: space-between;
}

.block_details_item__title {
  margin-right: 8px;
}

.block_details_item__value {
  word-break: break-all;
  text-align: right;
}

.block_transactions_list {
    margin: 20px;
    border: 3px groove black;
    word-break: break-all;
}

.block_transactions_list:hover {
}

.block_transactions_list > ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
}

.block_transactions_list > ul > li {
    padding: 10px;
}

.block_transactions_list > ul > li:hover {
    background-color: rgb(41, 102, 117);
}

.block_transactions_list > ul:hover {
}

.block_transaction_link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/*.block_transaction_link:hover {*/
/*    background-color: rgba(26, 64, 73, 0.41);*/
/*}*/
