@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.PageSizeSelector {
  display: flex;
  font-family: $font-mono;
  align-items: center;

  &__Title {
    margin-right: 8px;
    white-space: nowrap;
    color: var(--chakra-colors-gray-250);
    font-size: 0.75rem;
  }

  select {
    font-size: 0.75rem;
    padding: 6px 12px;
    max-width: 100%;
    height: 29px;
    box-sizing: border-box;
    border: 1px solid var(--chakra-colors-whiteAlpha-200);
    border-radius: 5px;
    padding: 0 4px;
    background-color: var(--chakra-colors-brand-normal);
  }
}
