.items_on_page_selector {}

.items_on_page_selector__title {
    margin-bottom: 4px;
}

.items_on_page_selector select {
    width: 80px;
    height: 29px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 4px;
}
