@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.IdentityPage {
  &__CommonInfo {
    margin-bottom: 24px;
  }

  &__Alias {
    width: max-content;
    margin-left: auto;
  }
}
