@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.IdentityTotalCard {
  @include mixins.EntityCard();
  @include mixins.InfoContainerPadding(padding, 0px, true);
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__Title {
    .Alias__Name, .Alias__Domain {
      font-family: $font-heading;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .Alias__Domain {
      color: var(--chakra-colors-brand-light);
      opacity: 1;
    }
  }

  &--Loading & {
    &__Avatar {
      position: absolute !important;
      @include mixins.LoadingContainer;
    }
  }

  &__Header {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__ZeroListBadge {
    padding: 4px 10px;
    font-family: $font-mono;
    color: var(--chakra-colors-gray-250);
  }

  &__ContentContainer {
    display: flex;
    gap: 40px;
  }

  &__Column {
    position: relative;
    width: 50%;
  }

  &__InfoLine {
    &--Names {
      align-items: baseline;
      flex-wrap: wrap;

      .InfoLine__Value {
        margin-left: auto;
        max-width: 100%;
      }
    }
  }

  &__PublicKeysShowButton {
    width: max-content;
    font-weight: 500 !important;
    text-transform: capitalize !important;

    svg {
      transition: .2s;
    }
  }

  &__PublicKeysList {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: opacity .3s;

    &--Show {
      position: relative;
      opacity: 1;
    }
  }

  &__PublicKeysListContainer {
    &--Mobile {
      display: none !important;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__InfoLine {
      &--Names {
        flex-wrap: wrap;
        justify-content: space-between;

        .InfoLine__Value {
          margin-left: auto;
        }
      }
    }
  }


  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg),
  screen and (max-width: $breakpoint-sm) {
    &__InfoLine {
      &--Identifier, &--Balance  {
        flex-direction: column;
        align-items: flex-start;

        .InfoLine__Value {
          text-align: left;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__ContentContainer {
      flex-direction: column;
    }

    &__Column {
      position: static;
    }

    &__Column {
      width: 100%;
    }

    &__InfoLine {
      flex-wrap: wrap;
    }

    &__PublicKeysListContainer {
      &--Mobile {
        display: block !important;
      }

      &--Desktop {
        display: none !important;
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__Digest {
      @include mixins.InfoContainerPadding(margin-left, 0px, true, true);
      @include mixins.InfoContainerPadding(margin-right, 0px, true, true);
      @include mixins.InfoContainerPadding(margin-bottom, 0px, true, true);
    }
  }
}