.DataContractSchema {
    white-space: break-spaces;
    height: 80%;
    padding: 0 10px;
    word-wrap: break-word;
    box-sizing: border-box;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;

    &__Code {
        padding: 10px;
        font-family: monospace;
        font-size: 12pt;
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    .DataContractSchema {
        width: 100%;
    }
}
