@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.DataContractSchema {
    position: relative;
    z-index: 1;

    &::before {
        content:  '';
        position: absolute;
        z-index: -1;
        width: calc(100% - 25px);
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--chakra-colors-gray-800);
        border-radius: $border-radius-def;
    }

    &__Code {
        padding: 10px 30px;
        margin: 0 10px;
        white-space: break-spaces;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        resize: vertical;
        width: 100%;
        min-height: 100px;
        max-height: 90vh;
        height: 300px;
        background: transparent !important;
    }
}

@media screen and (max-width: 1020px) {
    .DataContractSchema {
        width: 100%;
    }
}
