@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.DataContract {
  $gap: 1.25rem;

  .PageDataContainer__Content {
    display: flex;
    flex-direction: column;
  }

  &__InfoBlocks {
    display: flex;
    gap: $gap;
  }

  &__InfoBlock {
    width: 50%;
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__InfoBlocks {
      flex-direction: column;
    }

    &__InfoBlock {
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    $gap: 0.75rem;

    &__InfoBlocks {
      flex-direction: column;
      gap: $gap;
    }

    &__InfoBlock {
      width: 100%;
    }
  }
}
