@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.SimpleList {
  &__ColumnTitles {
    @include mixins.defListTitles;

    display: flex;
    justify-content: space-between;
  }

  &__ColumnTitle {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    letter-spacing: 0.4px;
  }

  &__ShowMoreButton {
    @include mixins.DefButton;

    width: 100%;
    margin-top: 8px;

    &::before {
      content: '';
    }
  }
}

.SimpleListItem {
  @include mixins.DefListItem;
  
  display: block;

  &__Title {
    word-wrap: break-word;
    overflow-wrap: anywhere;

    &--Mono {
      font-family: $font-mono;
      color: var(--chakra-colors-gray-250);
    }
  }

  &__ColumnsContainer {
    display: flex;
    justify-content: space-between;
  }

  &__Column {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin-right: 16px;
    display: flex;
    align-items: center;

    &:last-child {
      overflow-wrap: normal;
      margin-right: 0;
    }

    &--Mono {
      font-family: $font-mono;
      font-size: 0.75rem;
    }

    &--Ellipsis {
      &, span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &--Dim {
      color: var(--chakra-colors-gray-250);
    }
  }
}