.Table__Header--Numeric {
  text-align: right;
}

.TableHeaders__SortIcon {
  width: 1rem;
  height: 1rem;
  margin: -0.25rem 0.25rem -0.25rem 0;
  display: inline-block;
  vertical-align: middle;
}

.TableHeaders__SortIcon--asc {
  transform: rotate(90deg);
}

.TableHeaders__SortIcon--desc {
  transform: rotate(-90deg);
}

.TableHeaders__SortSpacer {
  display: inline-block;
  width: 1rem;
  height: 0.25rem;
  margin-right: 0.25rem;
  vertical-align: middle;
}
