
@mixin def_list_item {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 6px 8px;
    margin-bottom: 1px;
    line-height: 24px;
    border-bottom: 1px solid var(--chakra-colors-gray-800);
    color:  var(--chakra-colors-gray-100);
    font-family: monospace;
    font-size: 12pt;

    &:hover {
        background: var(--chakra-colors-whiteAlpha-50);
        text-decoration: none;
        cursor: pointer;
    }

    &:last-child {
        border-bottom: none;
    }
}

@mixin loading-line {
    overflow: hidden;
    position: relative;

    @keyframes loading-line {
        0% {
            left: -100%;
            width: 100%;
        }
        50% {
            left: 100%;
            width: 100%;
        }
        100% {
            left: 100%;
            width: 100%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--chakra-colors-gray-900);
        border-radius: 5px;
        opacity: 1;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: -50%;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, rgb(14 117 181) 0%, rgb(22 82 120) 100%);
        border-radius: 100px;
        opacity: .1;
        animation: loading-line linear 3s infinite;
    }

    $timeOffset: 0.5s;

    @for $i from 1 through 10 {
        &:nth-child(#{$i}n) {
          &::after {
            animation-delay: $i * $timeOffset;
          }
        }
      }
}