
@mixin def_list_item {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 6px 8px;
    margin-bottom: 1px;
    line-height: 24px;
    border-bottom: 1px solid var(--chakra-colors-chakra-border-color);
    color:  var(--chakra-colors-gray-100);
    font-family: monospace;
    font-size: 12pt;

    &:hover {
        background: var(--chakra-colors-whiteAlpha-50);
        text-decoration: none;
        cursor: pointer;
    }

    &:last-child {
        border-bottom: none;
    }
}