@import './pagination.scss';

.InfoBlock {
    position: relative;
    padding: var(--chakra-space-3);
    background-color: var(--chakra-colors-blackAlpha-200);
    box-shadow: 3px 3px var(--chakra-colors-brand-deep);

    &__Title {
        background-color: var(--chakra-colors-brand-deep);
        width: max-content;
        padding: 8px 18px;
        border-radius: 7px 0;
        position: relative;
        left: -12px;
        top: -12px;
    }
}

.Table {
    a {
        position: relative;
        display: inline-block;
        margin-bottom: -1px;
        // color: var(--chakra-colors-brand-normal);
        border-bottom: 1px solid;

        &:hover {
            // color: var(--chakra-colors-brand-deep);
            color: var(--chakra-colors-gray-200);
            border-bottom: none;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

.disabled {
    display: none;
}
  
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}