$breakpoint-sm: '30em';
$breakpoint-md: '48em';
$breakpoint-lg: '62em';
$breakpoint-xl: '80em';
$breakpoint-2xl: '96em';

$border-radius-def: 5px;

$font-monospace: var(--chakra-fonts-monospace);
$font-heading: var(--chakra-fonts-heading);
$font-body: var(--chakra-fonts-body);