.Intro {
  backdrop-filter: blur(44px);
  border-radius: var(--pe-radius-block);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(24, 31, 34, 0.2);
  box-shadow: 2px 2px var(--pe-color-brand-normal);
  display: flex;
  padding: 64px;
  width: 100%;
  gap: var(--pe-space-10);
  &__Title {
    font-style: italic;
    font-weight: var(--pe-font-weight-extrabold);
  }
  &__Info {
    width: 480px;
    flex-shrink: 0;
  }
  &__Block {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 96em) {
  .Intro {
    &__Info {
      min-width: 40%;
    }
  }
}

@media screen and (max-width: 75em) {
  .Intro {
    flex-wrap: wrap;
    padding: var(--pe-space-10);
    gap: var(--pe-space-10);
    &__Info,
    &__Block {
      width: 100%;
    }
    &__Block {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 62em) {
  .Intro {
    gap: var(--pe-space-6);
    padding: var(--pe-space-6);
  }
}
