.NavbarMobileMenu {
    background-color: var(--chakra-colors-gray-650);
    border-radius: 10px;
    margin-top: 6px;
    padding: 14px;
    box-shadow: 0px 20px 32px 0px var(--chakra-colors-gray-900);
}