@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Navbar {
  @include mixins.navContainerPadding(padding-left);
  @include mixins.navContainerPadding(padding-right);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  margin: 0 auto;
  min-height: 0;
  align-items: center;
  justify-content: space-between;

  &__NetworkSelectContainer {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
    flex-shrink: 0;
    margin-left: auto;
  }

  &__Left {
    display: flex;
    align-items: center;
    width: 0;
    gap: 0.5rem;
  }

  &__Right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: -1;
  }

  &__SearchContainer {
    position: relative;
    width: 15rem;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__SearchInputContainer {
    position: relative;
    width: 100%;
    z-index: 20;
    right: 0;
    top: 0;
  }

  &__SearchResults {
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 10rem);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    background: rgba(24, 31, 34, 0.8);
    backdrop-filter: $blockBackgroundBlur;
    border: 1px solid rgba(255, 255, 255, .07);
  }

  &__Burger {
    position: relative;
    z-index: 20;
    transition: background-color .1s !important;
    flex-shrink: 0;
  }

  &__Menu {
    gap: 40px !important;
    padding: 0 0.75rem;
  }

  @media screen and (min-width: 80rem) and (max-width: 87rem) {
    &__NetworkSelectContainer {
      .NetworkSelect__Title {
        display: none;
      }
    }

    @media screen and (max-width: 85rem) {
      &__SearchContainer {
        width: 12.5rem;
      }
    }
  }

  @media screen and (max-width: 72.5rem) {
    &__NetworkSelectContainer {
      width: 5rem;

      .NetworkSelect__Title {
        display: none;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xl) {
    &__Menu {
      gap: 24px !important;
    }

    &__SearchContainer {
      width: 10rem;
    }
  }

  @media screen and (max-width: 64rem) {
    &__Logo {
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__SearchContainer {
      width: 15rem
    }

    &__Menu {
      gap: 16px !important;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__WrapperNetworkSelect {
      gap: 8px;
      margin-left: 8px;
    }

    &__SearchContainer {
      width: 10rem
    }
  }
}

.NavbarStub {
  height: 66px;
}