@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Navbar {
  @include mixins.navContainerPadding(padding-left);
  @include mixins.navContainerPadding(padding-right);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    background: rgba(24, 31, 34, 0.8);
    backdrop-filter: $blockBackgroundBlur;
    border: 1px solid rgba(255, 255, 255, .07);
  }

  &__Burger {
    position: relative;
    z-index: 20;
  }

  &__WrapperNetworkSelect {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
  }

  &__Menu {
    gap: 40px !important;
  }

  @media screen and (max-width: $breakpoint-xl) {
    &__Menu {
      gap: 24px !important;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__Menu {
      gap: 16px !important;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__WrapperNetworkSelect {
      gap: 8px;
      margin-left: 8px;
    }
  }
}

.NavbarStub {
  height: 66px;
}