@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.NavbarMobileMenu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: var(--chakra-colors-gray-650);
  border-radius: 0 0 20px 20px;
  margin-top: 0;
  box-shadow: 0 20px 32px 0 var(--chakra-colors-gray-900);
  transition: all .3s;
  max-height: 100%;
  transform: translateY(calc(20px - 100%));
  padding-top: 88px;
  @include mixins.navContainerPadding(padding-left);
  @include mixins.navContainerPadding(padding-right);

  &--Open {
    transform: translateY(0);
  }

  &__Items {
    gap: 8px;
    width: 100%;
    overflow-y: auto; 
    padding-bottom: 28px;
  }
}