.NavbarMobileMenu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4rem;
  overflow: hidden;
  opacity: 0;
  box-shadow: none;
  background-color: var(--pe-color-gray-650);
  border-radius: 0 0 20px 20px;
  max-height: 100%;
  min-height: 10rem;
  transform: translateY(calc(-20px - 100%));
  transition: all 0.15s;
  padding-left: var(--pe-space-3);
  padding-right: var(--pe-space-3);
}
.NavbarMobileMenu--Open {
  max-height: calc(100vh - 200px);
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  box-shadow: 0 20px 32px 0 var(--pe-color-gray-900);
  overflow-y: auto;
}
.NavbarMobileMenu__Content {
  padding: 20px 0;
  width: 100%;
}
.NavbarMobileMenu__Header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.NavbarMobileMenu__BackButton {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(var(--pe-color-brand-normal-rgb), 0.8);
  transition: color 0.2s;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.NavbarMobileMenu__BackButton:hover {
  cursor: pointer;
  background-color: rgba(49, 130, 206, 0.1);
  color: rgba(var(--pe-color-brand-normal-rgb), 1);
}
.NavbarMobileMenu__Title {
  font-family: var(--pe-font-heading);
  font-weight: 800;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  margin: 0 auto;
}
.NavbarMobileMenu__Items {
  width: 100%;
  gap: 0.5rem;
}
.NavbarMobileMenu__Item {
  font-family: var(--pe-font-heading);
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--pe-color-fg-muted);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.07);
  transition: all 0.1s;
  cursor: pointer;
}
.NavbarMobileMenu__Item--Active {
  border: 1px solid var(--pe-color-brand-normal);
  color: var(--pe-color-brand-normal) !important;
  background: rgba(255, 255, 255, 0.02);
}
.NavbarMobileMenu__Item--Disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.NavbarMobileMenu__Item--Disabled:hover {
  background: rgba(255, 255, 255, 0.08);
  color: var(--pe-color-fg-muted);
}
.NavbarMobileMenu__Item:hover:not(.NavbarMobileMenu__Item--Active):not(.NavbarMobileMenu__Item--Disabled) {
  background: rgba(255, 255, 255, 0.15);
}
.NavbarMobileMenu__Item:active:not(.NavbarMobileMenu__Item--Disabled) {
  color: #fff;
  transform: translateY(1px);
  background: rgba(255, 255, 255, 0.1) !important;
}
.NavbarMobileMenu__ItemIcon {
  color: var(--pe-color-fg-muted);
}
