.NavDropdown .MenuLevel__Item {
  font-family: var(--pe-font-heading);
  font-size: var(--pe-text-sm);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--pe-color-fg-muted);
}

.NavDropdown .MenuLevel__Item--Disabled {
  opacity: var(--pe-opacity-muted);
  color: var(--pe-color-fg-muted);
}

.NavDropdown .MenuLevel__Item--Disabled:hover,
.NavDropdown .MenuLevel__Item--Disabled:active {
  color: inherit;
  background: transparent;
  cursor: not-allowed;
}

.NavDropdown {
  position: relative;
}

@media screen and (max-width: calc(62em - 1px)) {
  .NavDropdown .MenuLevel {
    width: 100%;
  }

  .NavDropdown {
    width: 100%;
  }
}
