@import '../../../styles/variables.scss';

.NetworkSelect {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: $font-heading;

  &__Title {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--chakra-colors-gray-250);
  }

  &__Button {
    position: relative;
    padding: 6px 12px;
    background-color: var(--chakra-colors-brand-normal);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 11;
    transition: $transition-time-def;

    &:hover {
      background-color: var(--chakra-colors-brand-light);
    }

    &--Arrow {
      color: var(--chakra-colors-white-50);
      stroke-width: 1.50px;
      transform: rotate(180deg);
      transition: transform ease 0.5s;
    }

    &--ArrowActive {
      transform: rotate(0deg);
      transition: transform ease 0.5s;
    }
  }

  &__DropdownWrapper {
    position: absolute;
    top: calc(5px + 100%);
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity ease 0.5s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -50%;
      width: 100%;
      height: 100%;
    }
  }

  &__DropdownWrapperActive {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.InternalNavigation {
    position: relative;
    width: auto;
    border-bottom: 4px solid var(--chakra-colors-gray-600);
    border-top: 4px solid var(--chakra-colors-gray-600);
    border-radius: 10px;
    padding: 8px 4px;
    background: #24282b;
    display: flex;
    flex-direction: column;
    gap: 4px;
}