.DateRangePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  font-family: var(--pe-font-mono);
  container-type: inline-size;
}
.DateRangePicker--NoTopNavigation .react-calendar__navigation {
  display: none !important;
}
.DateRangePicker--NoWeekDay .react-calendar__month-view__weekdays {
  display: none !important;
}
.DateRangePicker__Header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.DateRangePicker--SingleCalendar .DateRangePicker__HeaderMonth {
  width: 100%;
  max-width: none;
}
.DateRangePicker__HeaderMonth {
  width: 50%;
  text-align: center;
  font-family: var(--pe-font-heading);
  font-size: 0.875rem;
  font-weight: 700;
  max-width: 350px;
}
.DateRangePicker__Calendar {
  width: 100%;
}
.DateRangePicker__Calendar {
  margin-bottom: 10px;
}
.DateRangePicker__MonthSelector {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.DateRangePicker__MonthButton, .DateRangePicker__Arrow {
  color: var(--pe-color-fg);
  border: 1px solid var(--pe-color-calendar-border);
  border-radius: 10px;
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.3);
  cursor: pointer;
  transition: all 0.1s;
  margin: 0 4px;
}
.DateRangePicker__MonthButton:hover, .DateRangePicker__Arrow:hover {
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
}
.DateRangePicker__MonthButton:disabled, .DateRangePicker__Arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.DateRangePicker__MonthButton {
  color: var(--pe-color-fg-muted);
  padding: 10px 16px;
  text-transform: uppercase;
}
.DateRangePicker__MonthButton:hover {
  color: var(--pe-color-gray-100);
}
.DateRangePicker__MonthButton--Active {
  color: var(--pe-color-fg);
  background-color: var(--pe-color-brand-normal);
}
.DateRangePicker__MonthButton--Active:hover {
  background-color: var(--pe-color-brand-normal);
  cursor: default;
}
.DateRangePicker__Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
}
.DateRangePicker__Arrow svg {
  width: 8px;
  height: 8px;
}
.DateRangePicker__Arrow--Left {
  margin-right: auto;
  margin-left: 0;
}
.DateRangePicker__Arrow--Left svg {
  transform: rotate(180deg);
}
.DateRangePicker__Arrow--Right {
  margin-left: auto;
  margin-right: 0;
}
@container (max-width: 640px) {
  .DateRangePicker__MonthButton {
    font-size: 0.625rem;
    padding: 10px 14px;
  }
  .DateRangePicker__Arrow {
    width: 24px;
  }
}
@container (max-width: 570px) {
  .DateRangePicker__MonthButton, .DateRangePicker__Arrow {
    border-radius: 8px;
  }
  .DateRangePicker__MonthButton {
    font-size: 0.5rem;
    padding: 8px 10px;
    margin: 0 4px;
  }
  .DateRangePicker__Arrow {
    width: 20px;
  }
  .DateRangePicker__Arrow svg {
    width: 4px;
    height: 6px;
  }
}
@container (max-width: 450px) {
  .DateRangePicker__MonthButton, .DateRangePicker__Arrow {
    border-radius: 6px;
  }
  .DateRangePicker__MonthButton {
    font-size: 0.5rem;
    padding: 6px;
    margin: 0 2px;
  }
  .DateRangePicker__Arrow {
    width: 16px;
  }
  .DateRangePicker__Arrow svg {
    width: 4px;
    height: 6px;
  }
}
@container (max-width: 400px) {
  .DateRangePicker__MonthButton, .DateRangePicker__Arrow {
    border-radius: 5px;
  }
  .DateRangePicker__MonthButton {
    font-size: 0.438rem;
    padding: 5px;
    margin: 0px 1px;
  }
  .DateRangePicker__Arrow {
    width: 14px;
  }
  .DateRangePicker__Arrow svg {
    width: 3px;
    height: 5px;
  }
}
.DateRangePicker .react-calendar {
  margin: 0 auto;
  background: transparent;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DateRangePicker .react-calendar__tile {
  border-radius: 10px;
  font-family: var(--pe-font-heading);
  font-size: 0.75rem;
  white-space: nowrap;
  padding: 16px 8px;
}
.DateRangePicker .react-calendar__tile:disabled {
  color: rgba(255, 255, 255, 0.5) !important;
  pointer-events: none;
  background-color: transparent;
  opacity: 0.5;
}
.DateRangePicker .react-calendar__tile--now {
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.3);
}
.DateRangePicker .react-calendar__tile--hover, .DateRangePicker .react-calendar__tile--range {
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5) !important;
  border-radius: 0;
}
.DateRangePicker .react-calendar__tile--rangeStart, .DateRangePicker .react-calendar__tile--rangeEnd {
  transition: border-radius 0.2s;
  background-color: var(--pe-color-brand-normal) !important;
  color: var(--pe-color-fg);
}
.DateRangePicker .react-calendar__tile--rangeStart:hover, .DateRangePicker .react-calendar__tile--rangeEnd:hover {
  background-color: var(--pe-color-brand-light) !important;
}
.DateRangePicker .react-calendar__tile--rangeStart {
  border-radius: 10px 0 0 10px !important;
}
.DateRangePicker .react-calendar__tile--rangeEnd {
  border-radius: 0 10px 10px 0 !important;
}
.DateRangePicker .react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-radius: 10px !important;
}
.DateRangePicker .react-calendar__tile:enabled:focus, .DateRangePicker .react-calendar__tile:enabled:hover {
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.3);
}
.DateRangePicker .react-calendar__navigation button {
  font-size: 0.875rem;
  font-weight: 700;
}
.DateRangePicker .react-calendar__navigation button:enabled:hover, .DateRangePicker .react-calendar__navigation button:enabled:focus {
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  border-radius: 10px;
  overflow: hidden;
}
.DateRangePicker .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.DateRangePicker .react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: var(--pe-color-fg);
}
.DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--rangeEnd, .DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--rangeStart {
  background: rgba(var(--pe-color-gray-800-rgb), 0.5) !important;
}
@media screen and (max-width: 80em) {
  .DateRangePicker .react-calendar__tile {
    padding: 12px 6px;
  }
}
@media screen and (max-width: 48em) {
  .DateRangePicker .react-calendar__tile {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 30em) {
  .DateRangePicker .react-calendar__tile {
    font-size: 0.6rem;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__viewContainer {
    flex-direction: column;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__month-view {
    width: 100%;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__month-view:first-child {
    margin-top: 0;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .react-calendar__viewContainer {
    margin-left: 0;
    margin-right: 0;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .DateRangePicker__Header {
    flex-direction: column;
    position: relative;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .DateRangePicker__HeaderMonth {
    width: 100%;
    max-width: none;
  }
  .DateRangePicker:not(.DateRangePicker--SingleCalendar) .DateRangePicker__HeaderMonth:nth-child(2) {
    position: absolute;
    top: 270px;
  }
}
