@import '../../styles/variables.scss';

.DataContractsIntro {
  &__Filters {
    margin: 0.75rem 0 1.5rem;
  }

  .Intro__Info {
    width: 360px;
  }

  @media screen and (max-width: 75em) {
    overflow: hidden;

    .Intro__Info {
      width: 100%;
    }

    .Intro__Block {
      overflow: visible;
    }
  }
}
