.IdentityInfo {
    height: min-content;
}

.IdentityData {
    &__Tabs {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 530px) {
        &__Tab {
            width: 50%;
        }
    }

    @media screen and (max-width: 320px) {
        &__Tab {
            width: 100%;
        }
    }
}