@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.MenuLevel {
  width: 100%;
  @include mixins.BrandScroll();
  
  &__Item {
    position: relative;
    font-family: $font-heading;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    border-radius: $border-radius-def;
    transition: background-color $transition-time-def;
    color: var(--chakra-colors-gray-100);

    &--Submenu {
      &:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color $transition-time-def;
      }

      &:hover:after {
        background-color: rgba(var(--chakra-colors-whiteAlpha-300-rgb), 0.3);
      }
    }
    
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    
    &:hover {
      background-color: rgba(var(--chakra-colors-gray-750-rgb), 0.7) !important;
    }
    
    &:active {
      background-color: $color-brand-pressed !important;
    }
  }
}
