.MenuLevel {
  width: calc(100% + var(--pe-space-2));
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--pe-color-brand-normal) transparent;
}
.MenuLevel::-webkit-scrollbar {
  height: var(--pe-space-2);
  width: var(--pe-space-2);
}
.MenuLevel::-webkit-scrollbar-track {
  background: transparent;
}
.MenuLevel::-webkit-scrollbar-thumb {
  background-color: var(--pe-color-brand-normal);
  border-radius: var(--pe-radius-md);
  border: 2px solid transparent;
  background-clip: padding-box;
}
.MenuLevel::-webkit-scrollbar-thumb:hover {
  background-color: var(--pe-color-brand-light);
}
.MenuLevel {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-1);
  margin: -var(--pe-space-1);
}
.MenuLevel__Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pe-space-4);
  padding: var(--pe-space-2) var(--pe-space-2_5);
  position: relative;
  font-family: var(--pe-font-heading);
  font-weight: var(--pe-font-weight-bold);
  text-transform: uppercase;
  font-size: var(--pe-text-sm);
  letter-spacing: 0.var(--pe-space-1);
  border-radius: var(--pe-radius-def);
  transition: background-color var(--pe-transition-def);
  color: var(--pe-color-fg-muted);
}
.MenuLevel__Item:hover {
  background-color: var(--pe-color-gray-800);
  cursor: pointer;
  color: var(--pe-color-fg);
}
.MenuLevel__Item:active {
  background-color: var(--pe-color-gray-700) !important;
}
.MenuLevel__Item--Active {
  color: var(--pe-color-fg);
  background-color: var(--pe-color-gray-800);
}
.MenuLevel__Item--Active .MenuLevel__ItemIcon {
  color: var(--pe-color-fg);
  background-color: rgba(255, 255, 255, 0.25);
}
.MenuLevel__Item:hover .MenuLevel__ItemIcon {
  color: var(--pe-color-fg);
  background-color: rgba(255, 255, 255, 0.25);
}
.MenuLevel__ItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pe-space-4);
  height: var(--pe-space-4);
  border-radius: var(--pe-radius-sm);
  background: rgba(var(--pe-color-brand-normal-rgb), 0.2);
}
.MenuLevel__ItemIcon svg {
  width: var(--pe-space-2);
  height: var(--pe-space-2);
}
.MenuLevel__Item--Submenu:after {
  content: "";
  position: absolute;
  right: var(--pe-space-2);
  top: 50%;
  transform: translateY(-50%);
  width: var(--pe-space-3);
  height: var(--pe-space-3);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--pe-transition-def);
}
.MenuLevel__Item--Submenu:hover:after {
  background-color: rgba(var(--pe-color-white-alpha-300-rgb), 0.3);
}
