@use '../../styles/mixins.scss';

.DataContractsListItem {
    @include mixins.def_list_item;

    width: 100%;
    justify-content: space-between;

    &__Identifier {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 24px;
        white-space: nowrap;
    }
}