.DataContractCards .SliderNavigation {
  display: none;
}

.DataContractCards {
  width: 100%;
  &__CardsColumn {
    width: 90%;
    padding: var(--pe-space-2_5);
  }
  &__Card {
    margin-bottom: var(--pe-space-5);
  }
  &__Card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 48em) {
  .DataContractCards .SliderNavigation {
    display: block;
  }

  .DataContractCards .Slider__Carousel {
    width: 110%;
    margin: 0 -5%;
    overflow: visible;
  }

  .DataContractCards {
    &__Slider {
      width: calc(100% + var(--pe-space-5));
    }
    &__CardsColumnContainer {
      padding: var(--pe-space-2_5) var(--pe-space-1);
    }
    &__CardsColumn {
      padding: var(--pe-space-2_5) var(--pe-space-1);
    }
    &__Card {
      margin-bottom: var(--pe-space-2);
    }
    &__Card:last-child {
      margin-bottom: 0;
    }
  }
}
