.DataContractCards .SliderNavigation {
  display: none;
}

.DataContractCards {
  width: 100%;
}

.DataContractCards__CardsColumn {
  width: 90%;
  padding: var(--pe-space-2_5);
}

.DataContractCards__Card {
  margin-bottom: var(--pe-space-5);
}

.DataContractCards__Card:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 48em) {
  .DataContractCards .SliderNavigation {
    display: block;
  }

  .DataContractCards .Slider__Carousel {
    width: 110%;
    margin: 0 -5%;
    overflow: visible;
  }

  .DataContractCards__Slider {
    width: calc(100% + var(--pe-space-5));
  }

  .DataContractCards__CardsColumnContainer {
    padding: var(--pe-space-2_5) var(--pe-space-1);
  }

  .DataContractCards__CardsColumn {
    padding: var(--pe-space-2_5) var(--pe-space-1);
  }

  .DataContractCards__Card {
    margin-bottom: var(--pe-space-2);
  }

  .DataContractCards__Card:last-child {
    margin-bottom: 0;
  }
}
