@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.DataContractTotalCard {
  @include mixins.EntityCard();
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__Title {
    font-weight: 700;
    font-size: 0.875rem;
  }
}