.InternalConfigCard {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-2);
  font-family: var(--pe-font-mono);
  padding: var(--pe-space-10) !important;
  &__Line {
    display: flex;
    align-items: center;
    gap: var(--pe-space-2);
  }
  &__Title {
    white-space: break-spaces;
    width: 16.875rem;
    color: var(--pe-color-fg-muted);
    font-size: var(--pe-text-sm);
  }
  &__Title:after {
    content: ":";
  }
  &__ValueContainer {
    font-size: var(--pe-text-xs);
  }
  &__ValueContainer {
    max-width: max-content;
  }
}

@media screen and (max-width: 48em) {
  .InternalConfigCard {
    padding: var(--pe-space-4) !important;
    &__Line {
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 18em) {
  .InternalConfigCard {
    &__Line {
      flex-wrap: wrap;
    }
    &__ValueContainer {
      margin-left: auto;
    }
  }
}
