@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Footer {
  padding: 10px 16px;
  @include mixins.navContainerPadding(padding-left);
  @include mixins.navContainerPadding(padding-right);
  border-radius: 10px 10px 0 0;
  background-color: var(--chakra-colors-whiteAlpha-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media screen and (max-width: $breakpoint-lg) {
    flex-direction: column;
    gap: 12px;
  }

  > * {
    flex: 1;
  }

  > p, a {
    font-size: 12px;
    color: var(--chakra-colors-gray-250);
    font-weight: 400;
  }

  &__Copyright {
    text-align: right;

    @media screen and (max-width: $breakpoint-lg) {
      text-align: center;
    }
  }

  &__WrapperNetwork {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }

  &__Network {
    position: relative;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--chakra-colors-gray-800);
    transition: background-color ease 0.5s;

    &:hover {
      background-color: var(--chakra-colors-brand-deep);
    }

    > img {
      position: relative;
      width: 20px;
      height: 20px;
    }
  }
}