.LocalTime {
  font-family: var(--pe-font-mono);
  font-size: var(--pe-text-sm);
  &__Time,
  &__Date,
  &__TimeZone {
    margin-right: 0.5em;
  }
  &__Time:last-child,
  &__Date:last-child,
  &__TimeZone:last-child {
    margin-right: 0;
  }
  &__Time {
    position: relative;
    color: var(--pe-color-fg);
  }
  &__Time:after {
    content: "·";
    padding-left: 0.5em;
  }
  &__Date {
    color: var(--pe-color-fg-muted);
  }
  &__TimeZone {
    color: var(--pe-color-fg-muted);
  }
}
