.TabsChart {
  height: 100%;

  &__ChartContiner {
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .2s;

    &--Hidden {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }
  }
}

.TabsChart .TimeframeSelector {
  &__Button {

  }

  @media screen and (max-width: 555px) {
    &__Button {
      top: 10px;
      right: 10px;
      z-index: 11;

      &--Active {
        display: none;
      }
    }
  }
}
