@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.TimeframeSelector {
  &--MenuActive & {
    &__Menu {
      visibility: visible;
      opacity: 1;
      transition-delay: .2s;
    }
  }

  &__Menu {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: $blockBackgroundBlur;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    transition-delay: 0s;
  }

  &__Button {
    position: absolute !important;
    top: -36px;
    right: 10px;
    transition: all .2s;
    visibility: visible;
    opacity: 1;
    height: 28px !important;

    &--Active {
      background-color: #fff !important;
      color: $color-brand-normal !important;
    }
  }
}

.TimeframeMenu {
  padding: 12px;
  border-radius: 20px;

  &__ValuesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__ValuesTitle {
    font-family: $font-mono;
    color: #fff;
    opacity: .5;
    font-size: 0.75rem;
  }

  &__Values {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  &__ValueButton {
    margin-left: 10px;

    &--Active {
      background-color: $color-brand-normal !important;
      color: #fff !important;
    }
  }

  &__Calendar {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 555px) {
    &__Values {
      flex-wrap: wrap;
      margin-bottom: -8px;
    }

    &__ValueButton {
      margin-bottom: 8px;
    }
  }
}