@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.TimeframeSelector {
  &--MenuActive & {
    &__Menu {
      visibility: visible;
      opacity: 1;
    }
  }

  &__Menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: $blockBackgroundBlur;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
  }

  &__Button {
    position: absolute !important;
    top: -36px;
    right: 10px;
    transition: all .2s;
    visibility: visible;
    opacity: 1;
    height: 28px !important;

    &--Active {
      background-color: #fff !important;
      color: $color-brand-normal !important;
    }
  }
}

.TimeframeMenu {
  padding: 12px;

  &__ValuesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__ValuesTitle {
    font-family: $font-mono;
    color: #fff;
    opacity: .5;
    font-size: 0.75rem;
  }

  &__Values {
    
  }

  &__Calendar {

  }
}