@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ValidatorPage {
  &__Card {
    margin-bottom: 24px;
  }

  &__ContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__Column {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__GroupContainer {
    border-radius: 18px;
    border: 1px solid var(--chakra-colors-gray-800);
    padding: 24px;
  }

  &__InfoLine {
    margin-bottom: 14px;
  }

  &__ValueContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    max-width: 324px;
  }

  &__PoseScroreValue {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__ContentContainer {
      grid-template-columns: 1fr;
    }
  }
}