.ValidatorPage {
  &__Card {
    margin-bottom: var(--pe-space-6);
  }
  &__ContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pe-space-3);
  }
}

@media screen and (min-width: 48em) {
  .ValidatorPage {
    &__ContentContainer {
      gap: var(--pe-space-4);
    }
  }
}

@media screen and (min-width: 62em) {
  .ValidatorPage {
    &__ContentContainer {
      gap: var(--pe-space-5);
    }
  }
}

@media screen and (min-width: 80em) {
  .ValidatorPage {
    &__ContentContainer {
      gap: var(--pe-space-6);
    }
  }
}

.ValidatorPage {
  &__Column {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__Lists {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: var(--pe-space-6);
    margin-top: var(--pe-space-3);
  }
}

@media screen and (min-width: 48em) {
  .ValidatorPage {
    &__Lists {
      margin-top: var(--pe-space-4);
    }
  }
}

@media screen and (min-width: 62em) {
  .ValidatorPage {
    &__Lists {
      margin-top: var(--pe-space-5);
    }
  }
}

@media screen and (min-width: 80em) {
  .ValidatorPage {
    &__Lists {
      margin-top: var(--pe-space-6);
    }
  }
}

.ValidatorPage {
  &__ListContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: var(--pe-space-3) !important;
    padding-bottom: 0 !important;
    padding-left: calc(var(--pe-space-3) + 0px)  !important;
  }
}

@media screen and (min-width: 48em) {
  .ValidatorPage {
    &__ListContainer {
      padding-left: calc(var(--pe-space-4) + 0px)  !important;
    }
  }
}

@media screen and (min-width: 62em) {
  .ValidatorPage {
    &__ListContainer {
      padding-left: calc(var(--pe-space-5) + 0px)  !important;
    }
  }
}

@media screen and (min-width: 80em) {
  .ValidatorPage {
    &__ListContainer {
      padding-left: calc(var(--pe-space-6) + 0px)  !important;
    }
  }
}

.ValidatorPage {
  &__ListContainer {
    padding-right: calc(var(--pe-space-3) + 0px)  !important;
  }
}

@media screen and (min-width: 48em) {
  .ValidatorPage {
    &__ListContainer {
      padding-right: calc(var(--pe-space-4) + 0px)  !important;
    }
  }
}

@media screen and (min-width: 62em) {
  .ValidatorPage {
    &__ListContainer {
      padding-right: calc(var(--pe-space-5) + 0px)  !important;
    }
  }
}

@media screen and (min-width: 80em) {
  .ValidatorPage {
    &__ListContainer {
      padding-right: calc(var(--pe-space-6) + 0px)  !important;
    }
  }
}

.ValidatorPage__ChartsContainer .Chart {
  overflow: visible !important;
}

.ValidatorPage {
  &__ChartsContainer {
    padding-bottom: 0;
    overflow-x: hidden;
  }
  &__ListPagination {
    margin-top: calc(var(--pe-space-3) + 0px);
  }
}

@media screen and (min-width: 48em) {
  .ValidatorPage {
    &__ListPagination {
      margin-top: calc(var(--pe-space-4) + 0px);
    }
  }
}

@media screen and (min-width: 62em) {
  .ValidatorPage {
    &__ListPagination {
      margin-top: calc(var(--pe-space-5) + 0px);
    }
  }
}

@media screen and (min-width: 80em) {
  .ValidatorPage {
    &__ListPagination {
      margin-top: calc(var(--pe-space-6) + 0px);
    }
  }
}

.ValidatorPage__ListPagination .PageItem--Previous, .ValidatorPage__ListPagination .PageItem--Next {
  display: block;
}

.ValidatorPage__ListPagination .PageItem--Previous {
  margin-right: auto;
    margin-left: 0;
}

.ValidatorPage__ListPagination .PageItem--Next {
  margin-left: auto;
    margin-right: 0;
}

.ValidatorPage__GroupContainer .InfoLine--Loading .InfoLine__Value {
  height: 28px;
}

.ValidatorPage__InfoLine .DateBlock__InfoContainer {
  justify-content: flex-end;
}

.ValidatorPage__ValueContainer .DateBlock {
  margin-bottom: var(--pe-space-1);
}

.ValidatorPage {
  &__List {
    flex-grow: 1;
  }
  &__GroupContainer {
    flex-grow: 1;
    border-radius: 18px;
    border: 1px solid var(--pe-color-gray-800);
  }
  &__InfoLine {
    margin-bottom: var(--pe-space-3_5);
  }
  &__ValueContainer {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  &__PoseScroreValue {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 62em) {
  .ValidatorPage .PageDataContainer__Content {
    border-radius: 0;
        background: transparent;
  }

  .ValidatorPage {
    &__ContentContainer {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 421px) and (max-width: 62em) {
  .ValidatorPage .PageDataContainer__Content {
    padding: 0 !important;
  }
}

@media screen and (min-width: 62em) and (max-width: 1100px) {
  .ValidatorPage__ListPagination .PageLink {
    padding: var(--pe-space-2_5) var(--pe-space-2);
        min-width: 45px;
  }

  .ValidatorPage__ListPagination .PageItem:not(.PageItem--Previous):not(.PageItem--Next) {
    margin: 0 var(--pe-space-1);
  }
}

@media screen and (max-width: 420px) {
  .ValidatorPage .PageDataContainer__Content {
    padding-bottom: 0 !important;
  }
}
