.GlobalSearchInput {
  &__Field {
    font-family: var(--pe-font-mono);
    border-radius: var(--pe-radius-def) !important;
    color: var(--pe-color-fg);
  }
  &__Field:hover,
  &__Field:focus {
    background-color: rgba(46, 57, 61, 0.6) !important;
  }
}
