@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.GlobalSearchInput {
  &__Field {
    font-family: $font-mono;
    border-radius: $border-radius-def !important;
    color: #fff;

    &:hover, &:focus {
      background-color: rgba(46, 57, 61, 0.6) !important;
    }
  }
}
