@use '../../styles/mixins.scss';
@use './_variables.scss' as search;
@import '../../styles/variables.scss';

.SearchResultsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  container-type: inline-size;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include search.Columns();
    padding: 0 16px;
    background: transparent;
    margin-bottom: 0;
  }

  &__ColumnTitle {
    @include search.Column();
    font-family: $font-heading;
    font-size: 0.75rem;
    letter-spacing: .4px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--chakra-colors-gray-100);
  }

  &__Category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
