@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.SearchResultsListItem {
  @include mixins.DefListItem;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .Alias__Avatar, .Identifier__Avatar, &__Icon {
    margin-right: 4px;
  }

  &__ArrowButton {
    margin-left: auto;
  }

  &__Icon {
    @include mixins.AvatarSize(true);
  }

  &--Loading {
    .LoadingLine {
      height: 1rem;
      width: 50%;
      margin: 0;
    }
  }

  &--Loading & {
    &__ArrowButton {
      background-color: rgba(255, 255, 255, .1) !important;
    }
  }
}
