.PriceListItem {
  display: flex;
  width: 100%;
  text-decoration: none;
  padding: var(--pe-list-row-pad-y) var(--pe-list-row-pad-x);
  margin-bottom: 8px;
  line-height: 24px;
  color: var(--pe-color-gray-100);
  font-family: var(--pe-font-mono);
  font-size: 12pt;
  border-radius: var(--pe-list-row-radius);
  border: 1px solid var(--pe-color-gray-750);
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  transition: all 0.1s;
}
.PriceListItem:last-child {
  margin-bottom: 0;
}
.PriceListItem__Column--Credits,
.PriceListItem__Column--Number {
  font-size: 0.75rem;
  font-weight: 700;
}
.PriceListItem__IdentifierContainer {
  display: flex;
  align-items: center;
  min-width: 50px;
}
.PriceListItem__Avatar {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  margin-right: 12px;
}
.PriceListItem--Timestamp,
.PriceListItem__Column--Timestamp {
  font-family: var(--pe-font-mono);
  white-space: nowrap;
  color: #fff;
}
.PriceListItem--Timestamp,
.PriceListItem--Timestamp .DateBlock__Date,
.PriceListItem__Column--Timestamp,
.PriceListItem__Column--Timestamp .DateBlock__Date {
  font-size: 0.75rem;
}
.PriceListItem__Content {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(6.25rem, 1000rem) auto;
}
.PriceListItem__Column {
  display: flex;
  align-items: center;
  width: 100%;
}
.PriceListItem__Column--Price {
  margin-left: auto;
  text-align: right;
}
