@import '../../styles/variables.scss';

$base-line-height: 28px;
$spin-duration: 5s;
$pulse-duration: 3s;

@keyframes pulse {	
    50% {
      opacity: 0.2;
    } 
}

.PulseLoader {
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: var(--chakra-colors-brand-deep);
    animation: pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: ($base-line-height / 1.5);
      width: ($base-line-height / 4);
      background: var(--chakra-colors-brand-deep);
      top: 50%;
      transform: translateY(-50%);
      animation: pulse $pulse-duration infinite;
    }

    &:before {
      left: -($base-line-height / 2);
    }

    &:after {
      left: ($base-line-height / 2);
      animation-delay: ($pulse-duration / 1.5);
    }
}