@use '../../styles/mixins.scss';

.DocumentTransitionCard {
  @include mixins.BaseTransitionCard();

  &__InfoLine {
    &--DocumentType {
      .ValueContainer {
        max-width: max-content;
      }
    }
    &--PaymentInfo {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 8px;
    }
    .InfoLine__Value {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
