@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.DocumentTotalCard {
  @include mixins.EntityCard();

  &__Header {
    align-items: flex-start;
  }

  &__Identifier, &__Owner, &__Entropy  {
    .InfoLine__Value {
      width: 100%;
      text-align: right;

      .Identifier {
        justify-content: flex-end;
      }
    }
  }

  &__Owner {
    .ValueCard {
      max-width: max-content;
      margin-left: auto;
    }
  }
}