@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.SimpleList {
  &__ColumnTitles {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--chakra-colors-gray-700);
    margin-bottom: 8px;
  }

  &__ColumnTitle {
    color: var(--chakra-colors-white);
    word-wrap: break-word;
    overflow-wrap: anywhere;
    font-family: $font-heading;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}

.SimpleListItem {
  @include mixins.def_list_item;
  
  display: block;

  &__Title {
    word-wrap: break-word;
    overflow-wrap: anywhere;

    &--Monospace {
      font-family: $font-mono;
    }
  }

  &__ColumnsContainer {
    display: flex;
    justify-content: space-between;
  }

  &__Column {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin-right: 16px;

    &:last-child {
      overflow-wrap: normal;
      margin-right: 0;
    }

    &--Monospace {
      font-family: $font-mono;
    }
  }
}