@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.SimpleList {
    &__ColumnTitles {
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
    }

    &__ColumnTitle {
        color: var(--chakra-colors-gray-200);
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }
}

.SimpleListItem {
    @include mixins.def_list_item;
    
    display: block;

    &--Loading {
        @include mixins.loading-line;
        
        border: none;
        opacity: .5;
        border-radius: 5px;
        margin-bottom: 8px;
    }

    &__Title {
        word-wrap: break-word;
        overflow-wrap: anywhere;

        &--Monospace {
            font-family: monospace;
        }
    }

    &__ColumnsContainer {
        display: flex;
        justify-content: space-between;
    }

    &__Column {
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        margin-right: 16px;

        &:last-child {
            overflow-wrap: normal;
            margin-right: 0;
        }

        &--Monospace {
            font-family: monospace;
        }
    }
}