@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Tooltip {
  font-family: $font-heading;
  font-size: 0.75rem;

  &__Title {
    font-weight: 800;
    opacity: .6;
  }

  &--Extended & {
    &__Title {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  &__Content {
    opacity: .6;
  }
}