@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Alias {
  width: max-content;
  display: flex;
  align-items: center;
  font-family: $font-mono;
  font-size: 0.75rem;
  color: #fff;
  max-width: 100%;
  overflow: hidden;

  &--Ellipsis, &--Ellipsis &__SymbolsContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  &__SymbolsContainer {
    display: inline-block;
    white-space: break-spaces;
    word-break: break-all;
    width: 100%;
  }

  &--Pending {
    color: var(--chakra-colors-orange-default);
  }

  &--Locked {
    color: var(--chakra-colors-red-default);
    text-decoration: line-through
  }

  &--Locked & {
    &__Domain {
      opacity: 1;
    }
  }

  &__Avatar {
    @include mixins.AvatarSize;
    flex-shrink: 0;
    margin-right: 0.5rem;
  }


  &__Domain {
    opacity: .5;
  }

  &__LockedIcon {
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    margin-left: 8px;
  }
}
