.Alias {
  width: max-content;
  display: flex;
  align-items: center;
  font-family: var(--pe-font-mono);
  font-size: var(--pe-text-sm);
  color: var(--pe-color-fg);
  max-width: 100%;
  overflow: hidden;
  &--Ellipsis,
  &--Ellipsis &__SymbolsContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  &__SymbolsContainer {
    display: inline-block;
    white-space: break-spaces;
    word-break: break-all;
    width: 100%;
  }
  &--Pending {
    color: var(--pe-color-orange-default);
  }
  &--Locked {
    color: var(--pe-color-red-default);
    text-decoration: line-through;
  }
  &--Locked &__Domain {
    opacity: 1;
  }
  &__Avatar {
    height: var(--pe-space-6);
    width: var(--pe-space-6);
    flex-shrink: 0;
    margin-right: var(--pe-space-2);
  }
  &__Domain {
    opacity: var(--pe-opacity-muted);
  }
  &__LockedIcon {
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    margin-left: var(--pe-space-2);
  }
}
