@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Alias {
  width: max-content;
  font-family: $font-mono;
  font-size: 0.75rem;
  color: #fff;

  &--Ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--Pending {
    color: var(--chakra-colors-orange-default);
  }

  &--Locked {
    color: var(--chakra-colors-red-default);
    text-decoration: line-through
  }

  &--Locked & {
    &__Domain {
      opacity: 1;
    }
  }

  &__Domain {
    opacity: .5;
  }

  &__LockedIcon {
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    margin-left: 8px;
  }
}
