@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Alias {
  font-family: $font-mono;
  font-size: 0.75rem;
  color: #fff;

  &--Ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--Locked {
    color: var(--chakra-colors-red-default);
  }

  &__Domain {
    opacity: .5;
  }
}