.CreditsBlock {
  font-family: var(--pe-font-mono);
  font-size: 0.813rem;
}

.CreditsBlock__Credits,
.CreditsBlock__Dash {
  margin-top: 4px;
  margin-bottom: 4px;
}

.CreditsBlock__Credits,
.CreditsBlock__Dash,
.CreditsBlock__Usd {
  margin-right: 6px;
}

.CreditsBlock__Credits:last-child,
.CreditsBlock__Dash:last-child,
.CreditsBlock__Usd:last-child {
  margin-right: 0;
}

.CreditsBlock__Credits {
  display: inline-block;
}

.CreditsBlock__Dash {
  display: inline-block;
  color: var(--pe-color-fg-muted);
}

.CreditsBlock__Usd {
  display: inline-block;
  padding: 6px 8px;
  font-size: var(--pe-text-xs);
  color: var(--pe-color-green-emeralds);
  background-color: rgba(var(--pe-color-green-emeralds-rgb), 0.2);
  border-radius: 8px;
}
