.CreditsBlock {
  font-family: var(--pe-font-mono);
  font-size: 0.813rem;
  &__Credits,
  &__Dash {
    margin-top: var(--pe-space-1);
    margin-bottom: var(--pe-space-1);
  }
  &__Credits,
  &__Dash,
  &__Usd {
    margin-right: var(--pe-space-1_5);
  }
  &__Credits:last-child,
  &__Dash:last-child,
  &__Usd:last-child {
    margin-right: 0;
  }
  &__Credits {
    display: inline-block;
  }
  &__Dash {
    display: inline-block;
    color: var(--pe-color-fg-muted);
  }
  &__Usd {
    display: inline-block;
    padding: var(--pe-space-1_5) var(--pe-space-2);
    font-size: var(--pe-text-xs);
    color: var(--pe-color-green-emeralds);
    background-color: rgba(var(--pe-color-green-emeralds-rgb), 0.2);
    border-radius: var(--pe-radius-md);
  }
}
