@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.CreditsBlock {
  font-family: $font-mono;
  font-size: 0.813rem;

  &__Credits {
    display: inline-block;
  }

  &__Dash {
    display: inline-block;
    margin-left: 6px;
    color: var(--chakra-colors-gray-250);
  }

  &__Usd {
    display: inline-block;
    margin-left: 6px;
    padding: 6px 8px;
    font-size: 0.688rem;
    color: var(--chakra-colors-green-default);
    background-color: rgba(88, 244, 188, .2);
    border-radius: 8px;
  }
}