@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.DateBlock {
  font-family: $font-mono;

  &__InfoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap;
    margin-top: -4px;
    margin-bottom: -4px;
  }

  &__CalendarIcon, &__Date, &__Delta {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &__CalendarIcon, &__Date, &__Delta {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__CalendarIcon {
    width: 50px;
    height: 50px;
  }

  &__Date {
    font-size: 0.813rem;
  }

  &__Delta {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid rgba(147, 170, 178, .4);
    border-radius: 4px;
    color: var(--chakra-colors-gray-250);
    font-size: 0.688rem;
  }
}