@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Identifier {
  display: flex;
  align-items: center;
  font-family: $font-mono;
  font-size: 0.75rem;
  white-space: wrap;
  word-break: break-all;

  &--Ellipsis {
    &, span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--Dim {
    color: var(--chakra-colors-gray-250);
  }

  &--GradientStart {
    background: -webkit-linear-gradient(
      0deg,
      #fff 0 20%,
      var(--chakra-colors-gray-250) 25% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--GradientBoth {
    background: -webkit-linear-gradient(
      0deg,
      #fff 0 20%,
      var(--chakra-colors-gray-250) 30% 70%,
      #fff 80% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__Avatar {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__CopyButton {
    margin-left: 4px;
  }
}