@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Identifier {
  display: flex;
  align-items: center;
  font-family: $font-mono;
  font-size: 0.75rem;
  font-weight: 400;
  white-space: wrap;
  word-break: break-all;

  &--Size32, &--Size44, &--Size64, &--Size96 {
    container-type: inline-size;
    width: 100%;
    overflow: hidden;
  }

  &--Size32 & , &--Size44 &, &--Size64 &, &--Size96 & {
    &__SymbolsContainer {
      width: max-content;
    }
  }

  &--Ellipsis {
    overflow: hidden;
  }

  &--Ellipsis & {
    &__SymbolsContainer {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:not(&--Ellipsis) & {
    &__SymbolsContainer {
      line-height: 1rem;
    }
  }

  &--Size96:not(&--Ellipsis) &__SymbolsContainer {
    @container (max-width: 45rem) {
      width: calc(48ch);
    }

    @container (max-width: 24rem) {
      width: calc(32ch);
    }

    @container (max-width: 17rem) {
      width: calc(24ch);
    }

    @container (max-width: 13rem) {
      width: calc(16ch);
    }

    @container (max-width: 9rem) {
      width: calc(11ch);
    }
  }

  &--Size64:not(&--Ellipsis) &__SymbolsContainer {
    @container (max-width: 31rem) {
      width: calc(32ch);
    }

    @container (max-width: 17rem) {
      width: calc(22ch);
    }

    @container (max-width: 12rem) {
      width: calc(16ch);
    }

    @container (max-width: 9rem) {
      width: calc(11ch);
    }
  }

  &--Size44:not(&--Ellipsis) &__SymbolsContainer {
    @container (max-width: 22rem) {
      width: calc(22ch);
    }

    @container (max-width: 12rem) {
      width: calc(15ch);
    }
  }

  &--Size32:not(&--Ellipsis) &__SymbolsContainer {
    @container (max-width: 20rem) {
      width: calc(16ch);
    }

    @container (max-width: 13rem) {
      width: calc(11ch);
    }
  }

  &__SymbolsContainer {
    color: var(--chakra-colors-gray-250);
  }

  &__Symbols {
    color: #fff;

    &--Dim {
      color: var(--chakra-colors-gray-250);
    }
  }

  &__Avatar {
    @include mixins.AvatarSize;
    flex-shrink: 0;
    margin-right: 0.5rem;
  }

  &__CopyButton {
    margin-left: 12px;
  }
}