@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.InfoLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-mono;
  gap: 0.75rem;

  &__Icon {
    &, svg {
      width: 1.75rem;
      height: auto;
    }
  }

  &__Title {
    font-size: 0.75rem;
    color: var(--chakra-colors-gray-250);
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__Value {
    font-size: 0.688rem;
    color: #fff;
    text-align: right;
  }

  &--Loading & {
    &__Value {
      @include mixins.LoadingLine;
      position: relative;
      min-height: 18px;
      width: 200px !important;
      max-width: 100%;
    }
  }
}