@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.IpAddress {
  font-weight: $font-mono;
  font-size: 0.75rem;

  &--Dim & {
    &__Port {
      color: var(--chakra-colors-gray-250);
    }
  }

  &__Host, &__Port {
    transition: all .1s;
  }

  &__Port {
    color: $color-brand-pressed;
    font-weight: 600;
  }

  a:hover &--Clickable & {
    &__Host,
    &__Port {
      color: $color-brand-light;
    }
  }
}
