@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TimeRemaining {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__TimeLeft {
    font-family: $font-mono;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
