.TimeRemaining {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.TimeRemaining__TimeLeft {
  font-family: var(--pe-font-mono);
  font-weight: var(--pe-font-weight-normal);
  font-size: var(--pe-text-sm);
  line-height: 1rem;
}
