.VoteChoice {
  max-width: max-content;
  padding: 0.375rem 0.75rem;

  &--TowardsIdentity {
    .ValueContainer__Value {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &--TowardsIdentity & {
    &__Parameter {
      background: rgba(var(--chakra-colors-green-default-rgb), .1);
    }
  }

  &__Parameter {
    max-width: 100%;
    overflow: hidden;
    padding: 0.125rem 0.625rem;
  }
}