.Blocks {
  .PageSizeSelector, .GoToHeightForm {
    width: 210px;
  }

  @media screen and (max-width: 1268px) {
    .GoToHeightForm {
      order: 2;
    }

    .Pagination {
      flex-grow: 1;
      width: 100%;
      display: flex;
    }

    .PageSizeSelector {
      order: 3;
      text-align: left;
    }
  }
    
  @media screen and (max-width: 680px) {
    .PageSizeSelector {
      width: auto;
    }
  
    .Pagination {
      order: -1;
      width: 100%;
      justify-content: center;
      margin-bottom: 8px;
    }
  }
}
