.Blocks {
  @media screen and (max-width: 1268px) {
    .GoToHeightForm {
      order: 3;
    }

    .Pagination {
      flex-grow: 1;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .PageSizeSelector {
      order: 1;
      text-align: left;
    }
  }
    
  @media screen and (max-width: 680px) {
    .PageSizeSelector {
      width: auto;
    }
  
    .Pagination {
      order: -1;
      width: 100%;
      justify-content: center;
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 310px) {
    .GoToHeightForm {
      margin: 0;
      width: 100%;
    }

    .PageSizeSelector {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    .GoToHeightForm {
      text-align: center;
      margin-bottom: 4px;
    }
  }
}
