@import '../../styles/variables.scss';

.Blocks {
  &__Controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 0.75rem 0 1.5rem;
  }

  &__Filters {
    width: 100%;
  }

  &__SearchWrapper {
    width: 300px;
  }

  .PageSizeSelector, .GoToHeightForm {
    width: 210px;
  }

  @media screen and (max-width: 1268px) {
    .GoToHeightForm {
      order: 2;
    }

    .Pagination {
      flex-grow: 1;
      width: 100%;
      display: flex;
    }

    .PageSizeSelector {
      order: 3;
      text-align: left;
    }
  }
    
  @media screen and (max-width: 680px) {
    .PageSizeSelector {
      width: auto;
    }
  
    .Pagination {
      order: -1;
      width: 100%;
      justify-content: center;
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__Controls {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    &__SearchWrapper {
      width: 100%;
    }
  }
}
