@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.InfoContainer {
  @include mixins.InfoContainerPadding(padding);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid var(--chakra-colors-gray-800);
  
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  &::before {
    background: var(--chakra-colors-gray-675);
    z-index: -2;
  }

  &::after {
    background: radial-gradient(circle at 0% 100%, var(--chakra-colors-gray-800) 0, transparent);
    opacity: .5;
    z-index: -1;
  }

  &--TranslucentBg {
    &::before {
      opacity: .2;
    }
    &::after {
      opacity: .3;
    }
  }

  &--Tabs {
    @include mixins.InfoContainerPadding(padding-bottom);
    padding: 10px 0 24px 0;
    overflow: hidden;

    .chakra-tabs__tab {
      font-size: 0.75rem;
      white-space: nowrap;
      font-weight: 700;
      font-family: $font-heading;
      text-transform: uppercase;
    }

    .chakra-tabs__tablist {
      @include mixins.BrandScroll;
      @include mixins.InfoContainerPadding(padding-left, -8px, true);
      @include mixins.InfoContainerPadding(padding-right, -8px, true);
      overflow-y: hidden;
      overflow-x: auto;
    }

    .chakra-tabs__tab-panel {
      @include mixins.InfoContainerPadding(padding-left, 0px, true);
      @include mixins.InfoContainerPadding(padding-right, 0px, true);
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &--Tabs {
      .chakra-tabs__tablist {
        @include mixins.InfoContainerPadding(padding-left, -4px, true);
        @include mixins.InfoContainerPadding(padding-right, -4px, true);
      }

      .chakra-tabs__tab {
        padding: 8px 4px;
      }
    }
  }
}
