@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.InfoContainer {
  position: relative;
  border-radius: 18px;
  border: 1px solid var(--chakra-colors-gray-800);
  background: var(--chakra-colors-gray-675);
  padding: 24px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: radial-gradient(circle at 0% 100%, var(--chakra-colors-gray-800) 0, transparent);
    opacity: .5;
    z-index: 0;
  }

  &--Tabs {
    padding: 10px 0 24px 0;
    overflow: hidden;

    .chakra-tabs__tab {
      font-size: 0.75rem;
    }

    .chakra-tabs__tablist {
      border-bottom: 1px solid;
      border-color: inherit;
      padding: 0 30px;
    }

    .chakra-tabs__tab-panels {}
  }
}