@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$borderRadius: 20px;

.PageDataContainer {
  &__Header {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 40px;
      width: 100%;
      left: 0;
      border-radius: $borderRadius $borderRadius 0 0;
      background-color: var(--chakra-colors-gray-800);
      opacity: 1;
      top: 0;
      z-index: 0;
    }
  }

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 $borderRadius $borderRadius;
    background: var(--chakra-colors-gray-675);
    @include mixins.pageDataPadding(padding-left, true);
    @include mixins.pageDataPadding(padding-right, true);
  }

  &__BackLink {
    position: relative;
    z-index: 2;
    width: 32px;
    height: 24px;
    margin-right: 10px;
    background-color: rgba(24, 167, 255, .1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;

    svg {
      transform: rotate(180deg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(24, 167, 255, .2);
      }
    }

    &:active {
      transform: translateY(1px);
      background-color: rgba(24, 167, 255, .15);
    }
  }

  &__Title {
    position: relative;
    z-index: 2;
    font-family: $font-heading;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__Content {
      @include mixins.pageDataPadding(padding-top, true);
      @include mixins.pageDataPadding(padding-bottom, true);
      border-radius: $borderRadius;
    }

    &__Header {
      margin-bottom: 12px;

      &::before {
        border-radius: $border-radius-medium;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__Content {
      gap: 0.75rem;
    }
  }

  @media screen and (max-width: 420px) {
    &__ContentContainer {
      @include mixins.pageDataPadding(margin-right, true, true);
      @include mixins.pageDataPadding(margin-left, true, true);
    }
  }
}
