.ValueContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: var(--pe-radius-def);
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  padding: var(--pe-space-3);
  transition: all 0.1s;
  &--Elipsed {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &--Elipsed &__Value {
    overflow: hidden;
  }
  &--Red {
    color: var(--pe-color-red-default);
    background: rgba(var(--pe-color-red-default-rgb), 0.2);
  }
  &--Green {
    color: var(--pe-color-green-label);
    background: rgba(var(--pe-color-green-label-rgb), 0.2);
  }
  &--Emeralds {
    color: var(--pe-color-green-emeralds);
    background: rgba(var(--pe-color-green-emeralds-rgb), 0.2);
  }
  &--Blue {
    color: var(--pe-color-brand-light);
    background: rgba(var(--pe-color-brand-normal-rgb), 0.2);
  }
  &--Brand {
    color: var(--pe-color-fg);
    background: var(--pe-color-brand-normal);
  }
  &--LightGray {
    color: var(--pe-color-fg);
    background: #404e53;
  }
  &:is(.ValueContainer--LightGray.ValueContainer--Clickable):hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &--DarkGray {
    color: var(--pe-color-fg);
    background: var(--pe-color-gray-800);
  }
  &--Gray {
    color: var(--pe-color-fg);
    background: rgba(255, 255, 255, 0.2);
  }
  &--Orange {
    color: rgb(244, 154, 88);
    background: rgba(244, 154, 88, 0.2);
  }
  &--SizeXl {
    padding: var(--pe-space-6);
    border-radius: var(--pe-radius-def);
  }
  &--SizeLg {
    padding: 0.438rem var(--pe-space-3);
    border-radius: 0.688rem;
  }
  &--SizeMd {
    padding: var(--pe-space-2) var(--pe-space-3);
  }
  &--SizeSm {
    padding: var(--pe-space-1_5) var(--pe-space-2_5);
    line-height: var(--pe-space-3_5);
    border-radius: var(--pe-radius-md);
  }
  &--SizeXs {
    padding: var(--pe-space-1) var(--pe-space-1_5);
    line-height: var(--pe-space-4);
    border-radius: var(--pe-radius-md);
  }
  &--SizeXxs {
    padding: 2px var(--pe-space-1);
    line-height: var(--pe-space-4);
    border-radius: 3px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .ValueContainer {
    &--Clickable:hover {
      cursor: pointer;
      background-color: var(--pe-color-gray-800);
    }
  }
}

.ValueContainer {
  &--Clickable:active {
    transform: translateY(1px);
    background-color: var(--pe-color-gray-650);
  }
  &--Light {
    background: rgba(255, 255, 255, 0.1);
  }
  &:is(.ValueContainer--Light.ValueContainer--Clickable):hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &--External {
    background: rgba(var(--pe-color-brand-normal-rgb), 0.2);
  }
}

@media (hover: hover) and (pointer: fine) {
  .ValueContainer {
    &--External:hover {
      background: rgba(var(--pe-color-brand-light-rgb), 0.2);
    }
  }
}

.ValueContainer {
  &--External:active {
    transform: translateY(1px);
    background: rgba(var(--pe-color-brand-light-rgb), 0.15);
  }
  &__Value {
    width: 100%;
  }
}
