@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ValueContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  background: rgba(46, 57, 61, .5);
  padding: 12px;
  transition: all .1s;

  &--Clickable {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background: rgba(46, 57, 61, .7);
      }
    }

    &:active {
      transform: translateY(1px);
      background: rgba(46, 57, 61, 0.6);
    }
  }

  &--Light {
    background: rgba(255, 255, 255, .1);

    &.ValueContainer--Clickable {
      &:hover {
        background: rgba(255, 255, 255, .15);
      }
    }
  }

  &--External {
    background: rgba(var(--chakra-colors-brand-normal-rgb), .2);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: rgba(var(--chakra-colors-brand-light-rgb), .2);
      }
    }

    &:active {
      transform: translateY(1px);
      background: rgba(var(--chakra-colors-brand-light-rgb), .15);
    }
  }

  &__Value {
    width: 100%;
  }
}
