@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ValueContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(46, 57, 61, .5);
  padding: 12px;
  transition: all .1s;

  &--Clickable {
    &:hover {
      cursor: pointer;
      background: rgba(46, 57, 61, .7);
    }
  }

  &--External {
    background: rgba(var(--chakra-colors-brand-normal-rgb), .2);

    &:hover {
      background: rgba(var(--chakra-colors-brand-light-rgb), .2);
    }
  }
}