@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ValueContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: $border-radius-def;
  background-color: rgba(var(--chakra-colors-gray-800-rgb), 0.5);
  padding: 12px;
  transition: all .1s;

  &--Elipsed {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--Elipsed &__Value {
     overflow: hidden;
  }

  &--Red {
    color: var(--chakra-colors-red-default);
    background: rgba(var(--chakra-colors-red-default-rgb), .2);
  }

  &--Green {
    color: var(--chakra-colors-green-label);
    background: rgba(var(--chakra-colors-green-label-rgb), .2);
  }

  &--Emeralds {
    color: var(--chakra-colors-green-emeralds);
    background: rgba(var(--chakra-colors-green-emeralds-rgb), .2);
  }

  &--Blue {
    color: var(--chakra-colors-brand-light);
    background: rgba(var(--chakra-colors-brand-normal-rgb), .2);
  }

  &--Brand {
    color: #fff;
    background: var(--chakra-colors-brand-normal);
  }

  &--LightGray {
    color: #fff;
    background: #404E53;

    &.ValueContainer--Clickable {
      &:hover {
        background: rgba(255, 255, 255, .15);
      }
    }
  }

  &--DarkGray {
    color: #fff;
    background: var(--chakra-colors-gray-800);
  }

  &--Gray {
    color: #fff;
    background: rgba(255, 255, 255, .2);
  }

  &--Orange {
    color: rgb(244, 154, 88);
    background: rgba(244, 154, 88, 0.2);
  }

  &--SizeXl {
    padding: 1.5rem;
    border-radius: 0.625rem;
  }

  &--SizeLg {
    padding: 0.438rem 0.75rem;
    border-radius: 0.688rem;
  }

  &--SizeMd {
    padding: 0.5rem 0.75rem;
  }

  &--SizeSm {
    padding: 6px 10px;
    line-height: 14px;
    border-radius: 8px;
  }

  &--SizeXs {
    padding: 4px 6px;
    line-height: 16px;
    border-radius: 8px;
  }

  &--SizeXxs {
    padding: 2px 4px;
    line-height: 16px;
    border-radius: 3px;
  }

  &--Clickable {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background-color: var(--chakra-colors-gray-800);
      }
    }

    &:active {
      transform: translateY(1px);
      background-color: var(--chakra-colors-gray-650);
    }
  }

  &--Light {
    background: rgba(255, 255, 255, .1);

    &.ValueContainer--Clickable {
      &:hover {
        background: rgba(255, 255, 255, .15);
      }
    }
  }

  &--External {
    background: rgba(var(--chakra-colors-brand-normal-rgb), .2);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: rgba(var(--chakra-colors-brand-light-rgb), .2);
      }
    }

    &:active {
      transform: translateY(1px);
      background: rgba(var(--chakra-colors-brand-light-rgb), .15);
    }
  }

  &__Value {
    width: 100%;
  }
}
