@use '../../styles/mixins.scss';

.ChartBlock {
    min-height: 300px;

    &__Head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 6px;
        margin-bottom: 8px;
    }

    &__Title {
        margin: 0;
    }

    &__TimeframeSelector {
        background: var(--chakra-colors-gray-900);
        border-bottom: 1px solid var(--chakra-colors-gray-700);
        padding: 2px 4px;
    }
}