@import './../variables.scss';

$border-radius: var(--chakra-radii-block);

.InfoBlock {
  position: relative;
  padding: 20px 32px 32px 32px;
  background-color: var(--chakra-colors-blackAlpha-200);
  box-shadow: 2px 2px $color-brand-normal;
  border-radius: $border-radius;
  border-width: 1px;

  &__Title {
    background-color: $color-brand-normal;
    font-size: 14px !important;
    width: max-content;
    padding: 10px 20px;
    border-radius: $border-radius $border-radius $border-radius 0;
    position: relative;
    left: -32px;
    top: -20px;
    margin: 0;
  }
}