@use './../mixins.scss';
@import './../variables.scss';

$border-radius: var(--chakra-radii-block);

.InfoBlock {
  @include mixins.Block(true);
  position: relative;
  z-index: 1;
  padding: 20px 32px 32px 32px !important;

  &--NoBorder {
    box-shadow: none;
  }

  &--Gradient {
    overflow: hidden;
    background-color: transparent;
    border-radius: $border-radius-medium;
    padding: 20px 24px !important;

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #181F22;
      opacity: .2;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      width: 500px;
      height: 500px;
      min-width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      background: radial-gradient($color-brand-normal, transparent 50%);
      opacity: .2;
    }
  }

  &--Green {
    @include mixins.Block(true, var(--chakra-colors-green-default));
  }

  &--Red {
    @include mixins.Block(true, var(--chakra-colors-red-default));
  }

  &--Gradient#{&}--Green {
    &::after {
      background: radial-gradient($color-green-default, transparent 50%);
    }
  }

  &--Gradient#{&}--Red {
    &::after {
      background: radial-gradient($color-red-default, transparent 50%);
    }
  }

  &__Title {
    background-color: $color-brand-normal;
    font-size: 0.875rem !important;
    width: max-content;
    padding: 10px 20px;
    border-radius: $border-radius $border-radius $border-radius 0;
    position: relative;
    left: -32px;
    top: -20px;
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-lg) {
    padding: 20px 16px 16px 16px !important;

    &__Title {
      left: -16px;
    }
  }
}
