.Table a {
  position: relative;
  display: inline-block;
  margin-bottom: -1px;
  border-bottom: 1px solid;
}
.Table a:hover {
  color: var(--pe-color-gray-200);
  border-bottom: none;
}
.Table tr:last-child td {
  border-bottom: none;
}
.Table__Cell--BreakWord {
  white-space: break-spaces;
  word-break: break-all;
}
.Table__Cell--Mono {
  font-family: var(--pe-font-mono);
}

.TableHeader--Name {
  box-sizing: content-box;
  min-height: var(--pe-space-8);
}
.TableHeader--Name .TableHeader__Content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.TableHeader__Avatar {
  margin-left: var(--pe-space-2);
  width: var(--pe-space-8);
  height: var(--pe-space-8);
}
.TableHeader__SortDirection {
  display: inline-block;
}
