@import './../variables.scss';

.Table {
    a {
        position: relative;
        display: inline-block;
        margin-bottom: -1px;
        border-bottom: 1px solid;

        &:hover {
            color: var(--chakra-colors-gray-200);
            border-bottom: none;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    &__Cell {
        &--BreakWord {
            white-space: break-spaces;
            word-break: break-all;
        }

        &--Mono {
            font-family: $font-mono;
        }
    }
}

.TableHeader {
    &--Name {
        box-sizing: content-box;
        min-height: 32px;
    }

    &--Name &__Content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__Avatar {
        margin-left: 8px;
        width: 32px;
        height: 32px;
    }

    &__SortDirection {
        display: inline-block;
    }
}