@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.HomeIntro {
  @include mixins.Block(true);
  padding: 64px 0 !important;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1.25rem;
  width: 100%;

  &__About {
    max-width: 500px;
    padding-left: 64px;
  }

  &__Welcome {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 4px;
    color: $color-brand-normal;
    font-style: italic;
  }

  &__Title {
    font-style: italic;
    font-size: 2.125rem !important;
    font-weight: 800;
    margin-bottom: 12px;
    margin-top: 0;
  }

  &__Subtitle {
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    margin-bottom: 12px;
    margin-top: 0;
  }

  &__Description {
    font-size: 0.75rem !important;
    font-family: $font-mono;
    color: var(--chakra-colors-gray-500);
    line-height: 1.7;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: auto;
    padding: 40px 0 !important;

    &__NetworkStatus, &__About {
      padding: 0 40px;
    }

    &__About {
      max-width: none;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    padding: 40px 0 !important;

    &__NetworkStatus, &__About {
      padding: 0 24px;
    }
  }
}
