@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Navbar {
    padding: 0 16px;
    border-radius: 0 0 10px 10px;
    background-color: var(--chakra-colors-whiteAlpha-50);

    &__WrapperNetworkSelect {
        display: flex;
        align-items: center;
        gap: 16px;
        
        @media screen and (max-width: $breakpoint-sm) {
            gap: 8px;
         }
    }
}
