@import '../../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 24px;

  grid-template-columns: 
    minmax(101px, 101px)
    minmax(123px, 123px)
    minmax(427px, 427px)
    auto;

  @container (max-width: 800px) {
    gap: 16px;
  }
}

@mixin Column () {
  display: flex;
  align-items: center;

  &--Language {
    max-width: 101px;
    width: 100%;
  }

  &--Singular {
    max-width: 123px;
    width: 100%;
  }

  &--Plural {
    max-width: 427px;
    width: 100%;
  }

  &--Capitalize {
    min-width: 80px;
    width: 100%;
  }
}
