@import '../../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1.5rem;

  grid-template-columns: 
    minmax(6.25rem, 6.25rem) // Language
    minmax(7.75rem, 7.75rem) // Singular
    minmax(14rem, 100rem) // Plural
    auto; // Capitalize

  @container (max-width: 800px) {
    gap: 1rem;
  }
}

@mixin Column () {
  display: flex;
  align-items: center;
  width: 100%;
}
