@import 'variables';

.root {
  transition: 0.3s;

  &.open {
    .list {
      position: relative;
      opacity: 1;
    }
  }

  &.close {
    .list {
      position: absolute;
      width: 100%;
      top: 0;
      opacity: 0;
    }
  }
}
