@import '../../styles/variables.scss';

.ValidatorsIntro {
  &__Filters {
    margin: 0.75rem 0 1.5rem;
  }

  @media screen and (max-width: $breakpoint-md) {
    overflow: hidden;

    .Intro__Block {
      overflow: visible;
    }
  }
}
