@import '../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1rem;

  grid-template-columns:
    3rem // timestamp
    17.5rem // resource value
    17.5rem // data contract
    12rem // indexName
    7rem // type name
    3rem // votes
    7rem; // ends in

  //@container (max-width: 77rem) {
  //  grid-template-columns:
  //    auto
  //    minmax(9.375rem, 9.375rem)
  //    minmax(24.5rem, 24.5rem)
  //    3.375rem;
  //}
}

@mixin Column () {
  display: flex;
  align-items: center;

  @container (max-width: 27.5rem) {

  }
}
