@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ContestedResourcesTotalCard {
  @include mixins.TotalCard();
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__Title {
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }

  &__Avatar {
    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__HeaderLines {
    width: 100%;
  }
}