@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.TransactionPage {
  position: relative;

  &__CommonInfo {

  }

  &__InfoLine {
    margin-bottom: 14px;
    justify-content: flex-start;

    &--RawTransaction, &--Status {
      align-items: baseline;
    }

    .InfoLine__Title {
      width: 200px;
      line-height: 20px;
    }

    .InfoLine__Value {
      text-align: left;
      font-size: 0.75rem;
    }
  }

  &__StatusContainer {

  }

  &__ErrorContainer {
    margin-top: 8px;
    font-size: 0.688rem;
  }

  &__BlockHeight {
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.625rem;
    margin-right: 12px;
  }

  &__BlockHash {
    //padding: 7px 10px;
  }

  &__DetailsInfo {

  }

  &__RawTransaction {
    max-width: 510px;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}