.transaction_details {
    display: flex;
    flex-flow: column;
    background-color: #492f1a;
    padding: 20px;
    max-width: 800px;
}

.transaction_details_item {
    display: flex;
    justify-content: space-between;
}

.transaction_details_item__title {
  margin-right: 8px;
}

.transaction_details_item__value {
  word-break: break-all;
  text-align: right;
}

.transaction_details_item_transaction {
    padding: 10px;
    justify-content: center;
    width: 100%;
}

.transaction_raw {
    word-break: break-all;
    background-color: rgba(138, 53, 17, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

.loader {
    border: 10px solid rgba(243, 243, 243, 0.9); /* Light grey */
    border-top: 10px solid rgba(169, 134, 45, 0.6); /* Blue */
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disable {
    display: none;
}
.disable_color {
    color: rgba(0, 0, 0, 0);
}

.state_transition {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.state_transition_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TransactionData {
    &__DocumentsBatch {
        border-bottom: var(--chakra-borders-1px);
        border-color: var(--chakra-colors-gray-700);

        &:last-child {
            border-bottom: none;
        }
    }

    td {
        border-bottom: none;
    }
}
