body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 0;
  align-items: center;
  flex-flow: column;
  padding: 10px;
}

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.modal_container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_message {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 30%;
  min-width: 300px;
  color: black;
  background-color: rgb(101, 80, 11);
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20pt;
  padding: 10px;
}

.modal_close:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  padding: 1px 4px 2px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 14pt;
  -webkit-user-select: none;
  -ms-user-select: none; 
  text-align: center;
  border-radius: 5px;
}

.page-item:hover:not(.disabled) {
  background-color: #ffffff10;
}

.page-item--next,
.page-item--previous {
  display: inline-block;
  width: 22px;
  padding: 0px 2px 2px;
  border: 1px solid #ffffff75;
  border-radius: 5px;
  user-select: none;
}

.page-item--next:hover:not(.disabled),
.page-item--previous:hover:not(.disabled) {
  border: 1px solid #ffffff;
  background-color: #ffffff15;
}

.page-link {
  position: relative;
}

.page-item.disabled {
  cursor: default;
  opacity: .3;
}

.active, .active:hover {
  background-color: rgba(57, 175, 159, 0.55);
}

.page-item.active:hover {
  cursor: default;
}

.page-item--break-link {
  padding: 1px 2px 2px;
  margin: 0;
}

@media screen and (max-width: 440px) {
  .page-item:not(.active):not(.page-item--previous):not(.page-item--next) {
    display: none;
  }

}
