@import '../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem 5rem 10rem auto 22rem;
}

@mixin Column () {
  display: flex;
  align-items: center;

  &:last-child {
    justify-content: flex-end;
  }
}
