@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TickerBadge {
  font-weight: 500;
  font-family: $font-mono;
  font-size: 0.75rem;
  color: var(--chakra-colors-gray-250);
  background-color: var(--chakra-colors-gray-800);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  letter-spacing: 0.4px;
}
