@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TokenDashboardCards {
  width: 100%;

  &--Loading .DashboardCard {
    height: 7rem !important;
  }

  .DashboardCard {
    height: auto;
  }

  &__CardsColumn {
    width: 90%;
    padding: 10px;
  }

  .SliderNavigation {
    display: none;
  }

  &--SingleColumn {
    .DashboardCard {
      margin-bottom: 0;
    }

    .DashboardCards__Grid {
      grid-template-columns: 1fr !important;
      gap: 0.75rem;
    }
    
    .DashboardCards__CardsColumn {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  @media screen and (max-width: 600px) {
    .SliderNavigation {
      display: block;
    }

    &__Slider {
      width: calc(100% + 20px);
    }

    .Slider__Carousel {
      width: 110%;
      margin: 0 calc(-5%);
      overflow: visible;
    }

    &__CardsColumnContainer {
      padding: 10px 4px;
    }

    &__CardsColumn {
      padding: 10px 4px;
    }

    &__Card {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}