@use '../../styles/mixins.scss';
@use './variables' as tokens;
@import '../../styles/variables.scss';

.TokensListItem {
  @include mixins.DefListItem;
  display: block;

  &__Content {
    @include tokens.Columns();
  }

  &__Column {
    @include tokens.Column();

    &--TokenName {
      overflow: hidden;
      justify-content: flex-start;
    }

    &--DataContract {
      overflow: hidden;
      justify-content: flex-start;
    }

    &--Supply {
      .Supply {
        width: 100%;
      }

      .BigNumber {
        font-size: 0.75rem;
      }
    }

    &--OwnerIdentity {
      overflow: hidden;
      justify-content: flex-end;
    }

    &--Balance, &--Price {
      font-size: 0.625rem;
      font-weight: 400;
    }
  }

  &__TokenNameContainer {
    width: 100px;
  }

  &__TokenName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__DataContractLink, &__OwnerLink {
    max-width: 100%;
  }

  &__OwnerIdentifier {
    overflow: hidden;
  }

  &--Balance {
    .TokensListItem__Content {
      @include tokens.ColumnsBalance();
    }

    .TokensListItem__Column {
      @include tokens.ColumnBalance();
    }
  }
}