.data_contract_identifier {
    margin-top: 20px;
    background-color: #1a491c;
    padding: 10px;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data_contract_identifier span {
    padding: 10px;
}

.data_contract_schema {
    margin-top: 20px;
    background-color: #1a491c;
    padding: 10px;
    white-space: break-spaces;
    height: 80%;
    border-radius: 16px;
    padding: 14px 20px;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 12pt;
}

