.data_contract_identifier {
    margin-top: 20px;
    background-color: #1a491c;
    padding: 20px;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    max-width: 100%;


    &__info_item {
        display: flex;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__info_title {
        margin-right: 6px;
    }

    &__info_value {
        word-break: break-all;
    }
}


.data_contract_identifier span {
    // padding: 10px;
}

.data_contract_schema {
    margin-top: 20px;
    background-color: #1a491c;
    padding: 10px;
    white-space: break-spaces;
    height: 80%;
    border-radius: 16px;
    padding: 14px 20px;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 12pt;
    margin-right: 20px;
    
    &--hidden &__head {
        margin-bottom: 0;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    &__title {

    }

    &__hider {
        margin-left: 12px;
    }

    &__hide_btn, &__show_btn  {
        cursor: pointer;
        border-bottom: 1px dashed;

        &:hover {
            color: gray;
            border-bottom: none;
        }
    }
}

.data_contract {
    &__info_container {
        display: flex;
    }
}

.documents_list {
    height: max-content;
    margin-top: 20px;

    &__title {
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 980px) {
    .data_contract {
        width: 100%;

        &__info_container {
            flex-wrap: wrap;
        }
    }


    .documents_list {
        width: 100%;
    }

    .data_contract_schema {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 350px) {
    .data_contract_identifier__info_item {
        flex-wrap: wrap;
    }
}