.data_contract_identifier {
    margin-top: 20px;
    background-color: #9a3a3a;
    padding: 10px;
}

.data_contract_schema {
    margin-top: 20px;
    background-color: #9a5c3a;
    padding: 10px;
    white-space: break-spaces;
    height: 80%;
}

