@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TotalInfoItem {
    position: relative;
    padding: 30px 0 30px 64px;
    width: max-content;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
    }

    &--Blocks {
        &::before {
            background: url('/images/icons/block.svg') no-repeat center;
            background-size: contain;
        }
    }

    &--Transactions {
        &::before {
            background: url('/images/icons/transactions.svg') no-repeat center;
            background-size: contain;
        }
    }

    &--DataContracts {
        &::before {
            background: url('/images/icons/data-contract.svg') no-repeat center;
            background-size: contain;
        }
    }

    &--Documents {
        &::before {
            background: url('/images/icons/document.svg') no-repeat center;
            background-size: contain;
        }
    }

    &--Transfers {
        &::before {
            background: url('/images/icons/transfers.svg') no-repeat center;
            background-size: contain;
        }
    }
    
    &__Title {
        color:  var(--chakra-colors-brand-deep);
        font-size: 16px;
    }

    &__Value {
        font-size: 24px;

        &--Loading {
            @include mixins.loading-line;
    
            opacity: .5;
            border-radius: 5px;
            animation-delay: 100ms;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        &::before {
            position: static;
            transform: none;
            margin-bottom: 8px;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        display: block;
        padding: 15px 0 15px 64px;
        min-width: 180px;
        

        &::before {
            position: absolute;
            transform: translateY(-50%);
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
        padding: 15px 0;
        
        &::before {
            position: static;
            transform: none;
        }
    }

    @media screen and (max-width: 355px) {
        display: block;
        padding: 15px 0 15px 64px;

        &::before {
            position: absolute;
            transform: translateY(-50%);
        }
    }
}