.ArrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  background: rgba(var(--pe-color-brand-normal-rgb), 0.2);
}
.ArrowButton svg {
  width: 0.5rem;
  height: 0.5rem;
}
.ArrowButton:hover {
  color: var(--pe-color-fg);
  background-color: rgba(255, 255, 255, 0.25);
}
.ArrowButton:active {
  background-color: var(--pe-color-gray-700) !important;
}
.ArrowButton--Active {
  color: var(--pe-color-fg);
  background-color: rgba(255, 255, 255, 0.25);
}
