.ActiveFilters__ItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pe-space-2);
  max-width: 100%;
}

.ActiveFilters__Item {
  display: flex;
  align-items: center;
  gap: var(--pe-space-2);
  border: none;
  font-weight: var(--pe-font-weight-medium);
  text-transform: none;
  background-color: var(--pe-color-gray-800);
  cursor: default;
  max-width: 100%;
  white-space: break-spaces;
  word-break: break-all;
  text-align: left;
  height: auto;
  padding: var(--pe-space-1_5) var(--pe-space-3);
}

.ActiveFilters__IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pe-space-4);
  height: var(--pe-space-4);
  background-color: var(--pe-color-gray-700);
  border-radius: var(--pe-radius-sm);
}

.ActiveFilters__IconContainer:hover {
  cursor: pointer;
  background-color: var(--pe-color-gray-600);
}

.ActiveFilters__IconContainer svg {
  width: 0.4rem;
  height: 0.4rem;
}
