.MobileFilterMenu .DateRangeFilter {
  min-width: unset !important;
  width: 100%;
}

.DateRangeFilter {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-6);
  min-width: 650px;
}

.DateRangeFilter__ValuesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pe-space-4);
}

.DateRangeFilter__ValuesTitle {
  font-size: var(--pe-text-xs);
  font-family: var(--pe-font-mono);
  opacity: var(--pe-opacity-muted);
}

.DateRangeFilter__Values {
  display: flex;
  gap: var(--pe-space-2);
  margin-left: auto;
}

.DateRangeFilter__ValueButton {
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-family: var(--pe-font-heading);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
  background: var(--pe-color-gray-800);
  color: var(--pe-color-gray-250);
}

.DateRangeFilter__ValueButton--Active {
  background: var(--pe-color-brand-normal);
  color: #fff;
}

.DateRangeFilter__ValueButton--Submit {
  background: var(--pe-color-green-default);
  color: #fff;
}

@media screen and (max-width: 55em) {
  .MobileFilterMenu .DateRangeFilter__CalendarTitle,
  .MobileFilterMenu .DateRangeFilter__ValuesTitle {
    display: block;
  }

  .MobileFilterMenu .DateRangeFilter__Values {
    width: auto;
    flex-wrap: nowrap;
  }

  .MobileFilterMenu .DateRangeFilter__ValueButton--Submit {
    margin-left: unset;
  }

  .DateRangeFilter__CalendarTitle,
  .DateRangeFilter__ValuesTitle {
    display: none;
  }

  .DateRangeFilter__ValueButton--Submit {
    margin-left: auto;
  }

  .DateRangeFilter__Values {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 30em) {
  .MobileFilterMenu .DateRangeFilter__ValuesContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .MobileFilterMenu .DateRangeFilter__Values {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 62em) {
  .DateRangeFilter {
    min-width: 500px;
  }
}
