@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.DateRangeFilter {
  min-width: 650px;

  .MobileFilterMenu & {
    min-width: unset !important;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-lg) {
    min-width: 500px;
  }
}