.FilterGroup {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-5);
  &__Title {
    font-family: var(--pe-font-heading);
    font-weight: var(--pe-font-weight-bold);
    color: var(--pe-color-fg);
    text-transform: uppercase;
    font-size: var(--pe-text-sm);
    letter-spacing: 0.4px;
  }
  &__Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--pe-space-5);
  }
}
