.InputFilter {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.InputFilter__InputTitle {
  font-family: var(--pe-font-mono);
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.MobileFilterMenu .InputFilter {
  width: 100%;
}
.MobileFilterMenu .InputFilter__Title {
  font-family: var(--pe-font-heading);
  font-weight: 700;
  font-size: 0.875rem;
}
.MobileFilterMenu .InputFilter__Input {
  min-height: 3rem;
  padding: 0.75rem 1rem;
}
