@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.MultiSelectFilter {
  display: flex;
  flex-direction: column;

  &_List {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    min-width: 200px;
    max-height: 308px;
    max-height: 352px;
    overflow-y: auto;
    overflow-x: hidden;
    @include mixins.BrandScroll();
  }

  &__Items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__Item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: -0.5rem;
    border-radius: $border-radius-def;
    transition: background-color $transition-time-def;

    &:hover {
      cursor: pointer;
      color: #FFFFFF;
      background: var(--chakra-colors-gray-800);
    }

    &:active {
      background-color: var(--chakra-colors-gray-700) !important;
    }
  }

  .MobileFilterMenu & {
    &__Item {
      &Checkbox {
        order: 2;
      }

      &Title {
        flex-grow: 1;
      }
    }
  }
}