@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ChartBlock {
  container-type: inline-size;
  height: 100%;
  min-height: 300px;
  padding-bottom: 0 !important;
  overflow: hidden;
  transition: .1s;

  .InfoBlock__Title, .TimeframeSelector__Button  {
    position: relative;
    z-index: 555;
  }

  &--MenuIsOpen {
    padding-bottom: 24px !important;
  }


  &__TimeframeTitle {
    margin: 5px 5px 5px 0;
  }

  &__TimeframeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-top: -20px;
  }

  &__ChartContainer {
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .2s;
    transition-delay: .2s;

    &--Hidden {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }
  }

  .TimeframeSelector {
    &__Menu {
      top: 0;
    }

    .TimeframeMenu {
      padding-bottom: 12px !important;
    }

    .TimeframeMenu__ValuesContainer {
      margin-top: 52px;
    }

    &__Button {
      top: 12px;
      right: 16px;
    }

    @container (max-width: 400px) {
      .TimeframeMenu__ValuesContainer {
        margin-top: 90px;
      }

      &__Button {
        top: 50px;
        z-index: 11;
        width: 100px;
        min-width: max-content;
        transition: width .2s;

        &--Active {
          width: calc(100% - 24px);
        }
      }
    }
  }

  &__TimeframeButtons {
    display: flex;
    flex-wrap: wrap;
  }

  &__TimeframeButton {
    font-family: $font-heading;
    font-size: 12px;
    height: 27px !important;
    margin: 5px;

    &:last-child {
      margin-right: 0;
    }

    &--Active {
      background-color: $color-brand-normal !important;
    }
  }

  &__Loader {
    width: 100%;
    @include mixins.LoadingContainer;
  }

  @media screen and (max-width: 640px) {
    &__TimeframeContainer {
      margin-top: 0;
    }
  }
}