.ChartContainer {
    visibility: hidden;
    opacity: 0;
    transition: all .1s;

    &.loaded {
        visibility: visible;
        opacity: 1;
    }
}

.axis {
    .domain {
        opacity: .3;
    }
}