.ChartBlock {
  container-type: inline-size;
  height: 100%;
  min-height: 300px;
  padding-bottom: 0 !important;
  overflow: hidden;
  transition: 0.1s;
}
.ChartBlock .InfoBlock__Title, .ChartBlock .TimeframeSelector__Button {
  position: relative;
  z-index: 555;
}
.ChartBlock--MenuIsOpen {
  padding-bottom: 24px !important;
}
.ChartBlock__TimeframeTitle {
  margin: 5px 5px 5px 0;
}
.ChartBlock__TimeframeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-top: -20px;
}
.ChartBlock__ChartContainer {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
.ChartBlock__ChartContainer--Hidden {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
}
.ChartBlock .TimeframeSelector__Menu {
  top: 0;
}
.ChartBlock .TimeframeSelector .TimeframeMenu {
  padding-bottom: 12px !important;
}
.ChartBlock .TimeframeSelector .TimeframeMenu__ValuesContainer {
  margin-top: 52px;
}
.ChartBlock .TimeframeSelector__Button {
  top: 12px;
  right: 16px;
}
@container (max-width: 400px) {
  .ChartBlock .TimeframeSelector .TimeframeMenu__ValuesContainer {
    margin-top: 90px;
  }
  .ChartBlock .TimeframeSelector__Button {
    top: 50px;
    z-index: 11;
    width: 100px;
    min-width: max-content;
    transition: width 0.2s;
  }
  .ChartBlock .TimeframeSelector__Button--Active {
    width: calc(100% - 24px);
  }
}
.ChartBlock__TimeframeButtons {
  display: flex;
  flex-wrap: wrap;
}
.ChartBlock__TimeframeButton {
  font-family: var(--pe-font-heading);
  font-size: 12px;
  height: 27px !important;
  margin: 5px;
}
.ChartBlock__TimeframeButton:last-child {
  margin-right: 0;
}
.ChartBlock__TimeframeButton--Active {
  background-color: var(--pe-color-brand-normal) !important;
}
.ChartBlock__Loader {
  width: 100%;
}
@keyframes loading-process {
  from {
    opacity: 0;
    left: -100%;
    z-index: 6;
  }
  50% {
    opacity: 0.25;
  }
  to {
    z-index: 6;
    left: 100%;
  }
}
@keyframes LoadingContainer {
  from {
    overflow: hidden;
  }
  to {
    overflow: hidden;
  }
}
.ChartBlock__Loader {
  overflow: hidden;
  position: relative;
  animation: 1s LoadingContainer infinite;
}
.ChartBlock__Loader::before {
  z-index: 5 !important;
  opacity: 1 !important;
}
.ChartBlock__Loader::after {
  animation: 1s loading-process infinite;
  z-index: 6;
}
.ChartBlock__Loader::before, .ChartBlock__Loader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.ChartBlock__Loader::before {
  background-color: var(--pe-color-gray-900);
}
.ChartBlock__Loader::after {
  background: linear-gradient(90deg, transparent 0%, rgb(14, 117, 181) 50%, transparent 100%) !important;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 640px) {
  .ChartBlock__TimeframeContainer {
    margin-top: 0;
  }
}
