.ChartBlock .InfoBlock__Title,
.ChartBlock .TimeframeSelector__Button {
  position: relative;
  z-index: 555;
}

.ChartBlock .TimeframeSelector__Menu {
  top: 0;
}

.ChartBlock .TimeframeSelector .TimeframeMenu {
  padding-bottom: var(--pe-space-3) !important;
}

.ChartBlock .TimeframeSelector .TimeframeMenu__ValuesContainer {
  margin-top: 52px;
}

.ChartBlock .TimeframeSelector__Button {
  top: var(--pe-space-3);
  right: var(--pe-space-4);
}

.ChartBlock {
  container-type: inline-size;
  height: 100%;
  min-height: 300px;
  padding-bottom: 0 !important;
  overflow: hidden;
  transition: 0.1s;
  &--MenuIsOpen {
    padding-bottom: var(--pe-space-6) !important;
  }
  &__TimeframeTitle {
    margin: 5px 5px 5px 0;
  }
  &__TimeframeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-top: -var(--pe-space-5);
  }
  &__ChartContainer {
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
    transition-delay: 0.2s;
  }
  &__ChartContainer--Hidden {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
  }
}

@container (max-width: 400px) {
  .ChartBlock .TimeframeSelector .TimeframeMenu__ValuesContainer {
    margin-top: 90px;
  }

  .ChartBlock .TimeframeSelector__Button {
    top: 50px;
    z-index: 11;
    width: 100px;
    min-width: max-content;
    transition: width 0.2s;
  }

  .ChartBlock .TimeframeSelector__Button--Active {
    width: calc(100% - var(--pe-space-6));
  }
}

.ChartBlock {
  &__TimeframeButtons {
    display: flex;
    flex-wrap: wrap;
  }
  &__TimeframeButton {
    font-family: var(--pe-font-heading);
    font-size: var(--pe-text-sm);
    height: 27px !important;
    margin: 5px;
  }
  &__TimeframeButton:last-child {
    margin-right: 0;
  }
  &__TimeframeButton--Active {
    background-color: var(--pe-color-brand-normal) !important;
  }
  &__Loader {
    width: 100%;
  }
}

@keyframes loading-process {
  from {
    opacity: 0;
    left: -100%;
    z-index: 6;
  }

  50% {
    opacity: 0.25;
  }

  to {
    z-index: 6;
    left: 100%;
  }
}

@keyframes LoadingContainer {
  from {
    overflow: hidden;
  }

  to {
    overflow: hidden;
  }
}

.ChartBlock {
  &__Loader {
    overflow: hidden;
    position: relative;
    animation: 1s LoadingContainer infinite;
  }
  &__Loader::before {
    z-index: 5 !important;
    opacity: 1 !important;
  }
  &__Loader::after {
    animation: 1s loading-process infinite;
    z-index: 6;
  }
  &__Loader::before,
  &__Loader::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__Loader::before {
    background-color: var(--pe-color-gray-900);
  }
  &__Loader::after {
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgb(14, 117, 181) 50%,
      transparent 100%
    ) !important;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  .ChartBlock {
    &__TimeframeContainer {
      margin-top: 0;
    }
  }
}
