.ChartContainer {
    visibility: hidden;
    opacity: 0;
    transition: all .1s;

    &.loaded {
        visibility: visible;
        opacity: 1;
    }
}

.Chart {
    &__Tooltip {
        font-size: 14px;
        font-family: var(--chakra-fonts-body);
    }

    &__FocusPoint {
        display: none;
        opacity: .8;
    }
}

.ChartTooltip {
    &__InfoLine {
        &--Blocks {
            opacity: .7;
        }
    }
}

.Axis {
    font-family: var(--chakra-fonts-body);
    font-size: 25px;

    .domain {
        opacity: .3;
    }

    &__Label {
        font-size: 14px;
        opacity: .5;
    }

    &__TickContainer {
        font-size: 14px;
    }
}