.TimeframeMenu__Calendar--Stub .DateRangePicker {
  opacity: 0.05;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TimeframeMenu {
  padding: var(--pe-space-3);
  border-radius: var(--pe-radius-block);
}

.TimeframeMenu__ValuesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.TimeframeMenu__Values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--pe-space-2);
}

.TimeframeMenu__ValueButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--pe-font-heading);
  font-size: var(--pe-text-sm);
  font-weight: var(--pe-font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  height: 28px;
  padding: 3px var(--pe-space-3);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: var(--pe-color-gray-750);
  color: var(--pe-color-fg);
}

.TimeframeMenu__ValueButton--Ok {
  background: var(--pe-color-green-default);
  color: #fff;
}

.TimeframeMenu__ValueButton--Active {
  background-color: var(--pe-color-brand-normal) !important;
  color: var(--pe-color-fg) !important;
}

.TimeframeMenu__Calendar {
  width: 100%;
  margin-top: var(--pe-space-6);
}

.TimeframeMenu__Calendar--Stub {
  position: relative;
}

.TimeframeMenu__Calendar--Stub::before {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}

.TimeframeMenu__Calendar--Stub::after {
  content: "Coming soon";
  text-transform: uppercase;
  font-size: var(--pe-text-md);
  font-family: var(--pe-font-heading);
  opacity: 0.8;
  display: block;
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 555px) {
  .TimeframeMenu__Values {
    flex-wrap: wrap;
  }

  .TimeframeMenu__ValueButton {
    font-size: 0.6rem !important;
    height: var(--pe-space-6) !important;
  }
}

@media screen and (max-width: 350px) {
  .TimeframeMenu__ValueButton {
    font-size: var(--pe-space-2) !important;
    height: 22px !important;
  }
}
