@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TimeframeMenu {
  padding: 12px;
  border-radius: $border-radius-medium;

  &__ValuesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__Values {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;
  }

  &__ValueButton {
    font-size: 0.75rem;
    height: 28px !important;
    padding: 3px 12px !important;

    &--Active {
      background-color: $color-brand-normal !important;
      color: #fff !important;
    }
  }

  &__Calendar {
    width: 100%;
    margin-top: 24px;

    &--Stub {
      position: relative;

      .DateRangePicker {
        opacity: .05;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(2px);
      }

      &::after {
        content: 'Coming soon';
        text-transform: uppercase;
        font-size: 0.875rem;
        font-family: $font-heading;
        opacity: .8;
        display: block;
        position: absolute;
        z-index: 22;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @media screen and (max-width: 555px) {
    &__Values {
      flex-wrap: wrap;
    }

    &__ValueButton {
      font-size: 0.6rem !important;
      height: 24px !important;
    }
  }

  @media screen and (max-width: 350px) {
    &__ValueButton {
      font-size: 0.5rem !important;
      height: 22px !important;
    }
  }
}
