@use '../../../styles/mixins.scss';
@use './variables' as withdrawals;
@import '../../../styles/variables.scss';

.WithdrawalsList {
  container-type: inline-size;
  
  &__ColumnTitles {
    @include mixins.defListTitles;
    @include withdrawals.Columns();
  }

  &__ColumnTitle {
    @include withdrawals.Column();
    overflow: visible !important;

    &:last-child {
      text-align: right;
    }
  }

  &__Column {
    &--Address {
 
    }
  }
}
