@use '../../../styles/mixins.scss';
@use './variables' as act;
@import '../../../styles/variables.scss';

.ActivityList {
  @include mixins.List;
  container-type: inline-size;

  @container (max-width: 58rem) {
    @include mixins.BrandScroll();
    overflow-x: auto;
  }

  @media (max-width: 62rem) {
    @include mixins.BrandScroll();
    overflow-x: auto;
  }

  &__ScrollZone {
    width: fit-content;
    min-width: 100%;
  }

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include act.Columns();
  }

  &__ColumnTitle {
    @include act.Column();
  }
}