@use '../../../styles/mixins.scss';
@use './variables' as act;
@import '../../../styles/variables.scss';

.ActivityList {
  @include mixins.List;
  container-type: inline-size;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include act.Columns();
  }

  &__ColumnTitle {
    @include act.Column();
    width: 100%;
    //word-break: normal;
    //white-space: normal;
    //overflow-wrap: break-word;

    //&--Hash {
    //  white-space: nowrap;
    //}

    &:last-child {
      text-align: right;
    }
  }
}