.EpochTooltip {
  font-family: var(--pe-font-heading);
  font-size: var(--pe-text-sm);
  &__Line {
    margin-bottom: var(--pe-space-3_5);
  }
  &__Line:last-child {
    margin-bottom: 0;
  }
  &__Title {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &__Value {
    color: var(--pe-color-fg);
  }
}
