.EpochTooltip {
  font-family: var(--pe-font-heading);
  font-size: var(--pe-text-sm);
}
.EpochTooltip__Line {
  margin-bottom: var(--pe-space-3_5);
}
.EpochTooltip__Line:last-child {
  margin-bottom: 0;
}
.EpochTooltip__Title {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.EpochTooltip__Value {
  color: var(--pe-color-fg);
}
