.RateTooltip {
  font-size: var(--pe-text-sm);
  &__Dash {
    font-family: var(--pe-font-heading);
    color: var(--pe-color-fg);
  }
  &__Usd {
    font-family: var(--pe-font-mono);
    color: rgba(255, 255, 255, 0.6);
  }
}
