@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Tooltip {
  // keep tip interactive when moving from the trigger into the portal
  pointer-events: auto !important;

  &__Body {
    pointer-events: auto;
  }

  &__Title {
    color: #fff;
    font-weight: 800;
    font-size: 0.75rem;
  }

  &--Extended & {
    &__Title {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  &__Content {
    color: #fff;
    font-size: 0.688rem;
  }
}