@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

  &--Justify {
    .PageItem--Previous {
      margin-right: auto;
      margin-left: 0;
    }

    .PageItem--Next {
      margin-left: auto;
      margin-right: 0;
    }

    .PageItem--Previous, .PageItem--Next {
      display: block;
    }

      .PageItem.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }
}
  
.PageItem {
  margin: 0 6px;
  background-color: rgba(var(--chakra-colors-gray-800-rgb), .5);
  border-radius: $border-radius-def;
  border: 1px solid #343F44;

  &--Next, &--Previous {
    svg {
      width: 6px;
      height: 12px;
    }
  }

  &--Next:hover:not(.disabled),
  &--Previous:hover:not(.disabled) {
    background-color: rgba(255, 255, 255, .1)
  }

  &--Previous {
    svg {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    cursor: default;
    opacity: .3;
  }

  &:not(.active) {
    &:hover:not(.disabled) {
      background-color: var(--chakra-colors-gray-750);
    }
  }

  &.active {
    &, a {
      cursor: default;
    }

    &, &:hover {
      background-color: var(--chakra-colors-brand-normal);
      border-color: var(--chakra-colors-brand-normal);
    }
  }
}

.PageLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-mono;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none; 
  text-align: center;
  padding: 10px 12px;
  font-size: 0.75rem;
  min-width: 55px;
}

@media screen and (max-width: $breakpoint-md) {
  .PageItem:not(.active):not(.PageItem--Previous):not(.PageItem--Next) {
    display: none;
  }
}