@import '../../styles/variables.scss';

.EpochProgress {
  &__Info {
		display: flex;
    font-family: $font-mono;
		font-size: 0.75rem;
		font-weight: 400;
		text-transform: none;
		margin-top: 6px;
	}

	&__InfoTitle {
    color: var(--chakra-colors-gray-500);
		margin-right: 8px;
    white-space: nowrap;
	}

	&__InfoValue {
		color: #fff;
    white-space: nowrap;
	} 
}
