@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.NetworkStatus {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);

  &__Stat {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    &--Loading {
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) .NetworkStatus__InfoValue {
          @include mixins.LoadingLine($i);
          width: 100%;
        }
      }
    }
  }

  &__EpochProgress {
    width: 100%;
    margin-top: 14px;
  }

  &__InfoTitle {
    font-size: 0.75rem;
    color: var(--chakra-colors-gray-500);
    font-family: $font-mono;
    white-space: nowrap;
    margin-bottom: 14px;
  }

  &__InfoValue {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: $font-heading;
    letter-spacing: 0.4px;

    &, span {
      display: flex;
      align-items: center;
    }

    &--Epoch {
      flex-wrap: wrap;
      width: 100%;

      span {
        @include mixins.TooltipElement();
        width: max-content;
      }
    }
  }

  &__BadgeIcon {
    margin-right: 5px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);

    &__Stat {
      &--Epoch {
        grid-row: 1;
      }

      &--PlatformVersion {
        grid-row: 1;
      }

      &--TenderdashVersion {
        grid-row: 2;
        grid-column: 2;
      }

      &--Network {
        grid-row: 2;
        grid-column: 1;
      }

      &--Api {
        grid-row: 3;
      }

      &--LatestBlock {
        grid-row: 3; 
      }
    }
  }

  @media screen and (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);

    &__Stat {
      grid-row: auto;
      grid-column: auto;
    }

    &__Badge {
      width: 100%;
    }
  }
}
