@keyframes loadingLine {
    0% {
        left: -100%;
        width: 100%;
    }
    50% {
        left: 100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
  }

.NetworkStatus {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    background-color: var(--chakra-colors-blackAlpha-200);
    padding: var(--chakra-space-3);
    padding-left: var(--chakra-space-5);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 8px;
        border-radius: var(--chakra-radii-lg) 0 0 var(--chakra-radii-lg);
        background-color: var(--chakra-colors-brand-deep);
    }

    &__InfoItem {
        position: relative;
        display: flex;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &--Loading {
            opacity: .5;
            overflow: hidden;
            border-radius: 5px;
            animation-delay: 100ms;
            
            &:nth-child(2n) {
                &::after {
                    animation-delay: 500ms;
                }
            }

            &:nth-child(3n) {
                &::after {
                    animation-delay: -2000ms;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                border-radius: 5px;
                opacity: .2;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                left: -50%;
                width: 40%;
                height: 100%;
                background: linear-gradient(90deg, rgb(14 117 181) 0%, rgb(22 82 120) 100%);
                border-radius: 100px;
                opacity: .05;
                animation: loadingLine linear 3s infinite;
            }
        }
    }

    &__InfoItem--Loading &__Value,
    &__InfoItem--Loading &__Title {
        opacity: 0;
    }

    &__Title {
        font-size: 18px;
        color: var(--chakra-colors-brand-deep);
        margin-right: 12px;
    }

    &__Value {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}