/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #1a491c;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    min-width: 400px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    background-color: #1a491c;
    color: black;
}

.topnav input[type=text]:focus {
    outline: none;
}

::placeholder {
    color: black;
    opacity: 0.5
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        min-width: auto;
        box-sizing: border-box;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
