.CardsGrid__Header {
  margin-bottom: var(--pe-space-3_5);
}
.CardsGrid__Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -var(--pe-space-2_5) 0;
}
.CardsGrid__Item {
  width: calc(50% - var(--pe-space-2_5));
  margin: var(--pe-space-2_5) 0;
}
.CardsGrid--DivideBy3 {
  overflow: hidden;
  max-width: 100%;
}
@media screen and (max-width: 62em) {
  .CardsGrid__Item {
    width: calc(25% - var(--pe-space-2_5));
  }
  .CardsGrid--DivideBy3 .CardsGrid__Item {
    width: calc(33.3333333333% - var(--pe-space-2_5));
  }
}
@media screen and (max-width: 48em) {
  .CardsGrid__Item {
    width: calc(50% - var(--pe-space-2_5));
  }
  .CardsGrid--DivideBy3 .CardsGrid__Item {
    width: calc(50% - var(--pe-space-2_5));
  }
}
@media screen and (max-width: 30em) {
  .CardsGrid__Item {
    width: 100%;
  }
  .CardsGrid--DivideBy3 .CardsGrid__Item {
    width: 100%;
  }
}
