@import '../../styles/variables.scss';

.CardsGrid {
    &__Header {
        margin-bottom: 14px;
    }

    &__Items {
        display:  flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -10px 0;
    }

    &__Item {
        width: calc(50% - 10px);
        margin: 10px 0;
    }

    &--DivideBy3 {
        overflow: hidden;
        max-width: 100%;
    }

    @media screen and (max-width: $breakpoint-lg) {
        &__Item {
            width: calc(25% - 10px);
        }

        &--DivideBy3 &__Item {
            width: calc(100% / 3 - 10px);
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        &__Item {
            width: calc(50% - 10px);
        }

        &--DivideBy3 &__Item {
            width: calc(50% - 10px);
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &__Item {
            width: 100%;
        }

        &--DivideBy3 &__Item {
            width: 100%;
        }
    }
}