.DashboardCard {
  padding: 30px;
  height: 180px;
}

.DashboardCard__ContentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.DashboardCard__ContentWrapper--Icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.DashboardCard__Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.DashboardCard__ContentWrapper--Icon .DashboardCard__Content {
  display: block;
  height: auto;
}

.DashboardCard__Title {
  margin-bottom: var(--pe-space-3);
  color: var(--pe-color-brand-normal);
  font-family: var(--pe-font-heading);
  font-style: italic;
  font-size: var(--pe-text-md);
  font-weight: var(--pe-font-weight-extrabold);
  text-transform: uppercase;
}

.DashboardCard__Icon {
  width: 3rem;
  height: 3rem;
}

.DashboardCard__Value {
  font-family: var(--pe-font-heading);
  font-weight: var(--pe-font-weight-extrabold);
  font-size: var(--pe-space-5);
  height: 100%;
}

@media screen and (max-width: 62em) {
  .DashboardCard {
    padding: 28px;
  }
}

@media screen and (max-width: 48em) {
  .DashboardCard {
    padding: var(--pe-space-4);
    height: 120px;
  }

  .DashboardCard__Title {
    margin-bottom: var(--pe-space-1);
  }
}
