@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ValueCard {
  padding: 8px 12px;
  border-radius: $border-radius-def;
  background-color: rgba(var(--chakra-colors-gray-800-rgb), 0.5);
  border: 1px solid var(--chakra-colors-gray-550);
  display: flex;
  align-items: center;
  transition: all $transition-time-def;

  &--Loading {
    @include mixins.LoadingLine();
  }

  &--SizeSm {
    padding: 5px 10px;
    line-height: 14px;
    border-radius: 4px;
  }

  &--BgTransparent {
    background: transparent;
  }

  &--Green {
    color: var(--chakra-colors-green-default);
    background: rgba(var(--chakra-colors-green-default-rgb), .2);
    border-color: rgba(var(--chakra-colors-green-default-rgb), 0.4);

    .CopyButton {
      svg {
        color: rgba(255, 255, 255, .85);
      }

      &:hover {
        svg {
          color: #fff;
        }
      }
    }

    &.ValueCard--Clickable:hover {
      background: rgba(var(--chakra-colors-green-default-rgb), .3);
    }
  }

  &--Clickable {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--chakra-colors-gray-800);
        cursor: pointer;
      }
    }
  
    &:active {
      transform: translateY(1px);
      background-color: var(--chakra-colors-gray-650);
    }
  }
}