@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ValueCard {
  padding: 8px 12px;
  border-radius: $border-radius-def;
  background-color: var(--chakra-colors-gray-650);
  border: 1px solid var(--chakra-colors-gray-550);
  display: flex;
  align-items: center;
  transition: all $transition-time-def;

  &--Loading {
    @include mixins.LoadingLine();
  }

  &--Clickable {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--chakra-colors-gray-800);
        cursor: pointer;
      }
    }
  
    &:active {
      transform: translateY(1px);
      background-color: var(--chakra-colors-gray-650);
    }
  }
}