@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Markdown {
  a {
    color: var(--chakra-colors-brand-normal);
    transition: color .1s;

    &:hover {
      color: var(--chakra-colors-brand-light);
    }
  }

  li {
    font-family: $font-mono;
  }

  small {
    font-size: 100%;
    color: var(--chakra-colors-gray-250);
  }

  &__TableWrapper {
    border: 1px solid var(--chakra-colors-gray-800);
    border-radius: var(--chakra-radii-lg);
    overflow-x: auto;

    th:first-child,
    td:first-child {
      border-left: none;
    }

    th:last-child,
    td:last-child {
      border-right: none;
    }

    tr:first-child th,
    tr:first-child td {
      border-top: none;
    }

    tr:last-child th,
    tr:last-child td {
      border-bottom: none;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  }

  th, td {
    border: 1px solid var(--chakra-colors-gray-800);
    padding: 8px;
  }

  th {
    font-weight: bold;
  }
}