@import '../../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1rem;
  justify-content: space-between;


  &--Hidden {
     grid-template-columns:
      3rem // Date
      minmax(5.875rem, 30rem) // Hash
      16.5rem // Identity
      16.5rem // Document
      8rem // Votes
  }

  grid-template-columns:
    3rem // Date
    minmax(5.875rem, 30rem) // Hash
    16.5rem // Identity
    16.5rem // Document
    8rem // Votes
    100px; //Actions

  @container (max-width: 66rem) {
    grid-template-columns:
      3rem // Date
      minmax(5.875rem, 46rem) // Hash
      14.5rem // Identity
      14.5rem // Document
      8rem // Votes
      100px; //Actions
  }

  @container (max-width: 62rem) {
    grid-template-columns:
      3rem // Date
      6rem // Hash
      12.5rem // Identity
      12.5rem // Document
      6rem // Votes
      100px; //Actions
  }

  @container (max-width: 50rem) {
    grid-template-columns:
      3rem // Date
      12rem // Identity
      12rem // Hash
      12rem  // Documtnt
      5rem // Votes
      100px; //Actions
  }
}

@mixin Column () {
  display: flex;
  align-items: center;

  &:last-child {
    justify-content: flex-end;
  }

  @container (max-width: 50rem) {
    &:last-child {
      justify-content: flex-start;
    }

    &--Votes {
      order: 5;
    }

    &--Identity {
      order: 1;
    }

    &--Hash {
      order: 2;
    }

    &--Document {
      order: 3;
    }

    &--Actions {
      order: 4;
    }
  }
}
