@use '../../../styles/mixins.scss';
@use './variables' as contenders;
@import '../../../styles/variables.scss';

.ContendersList {
  @include mixins.List;
  @include mixins.BrandScroll();
  overflow-x: auto;
  container-type: inline-size;

  &__ScrollZone {
    width: fit-content;
    min-width: 100%;
  }

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include contenders.Columns();
  }

  &__ColumnTitle {
    @include contenders.Column();

    &_Vote-btn {
      border-radius: 10px;
    }
  }
}