.data_contracts_list {
    color: white;
    text-decoration: none;
    background-color: #1a491c;
    padding: 10px 5px;

    border-radius: 16px;
    padding: 14px 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.data_contracts_item {
    text-decoration: none;
    padding: 4px 0;
    text-align: left;
    margin-bottom: 2px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ffffff14;
}

.data_contracts_item a {
    text-decoration: none;
    word-wrap: break-word;
    color: white;
}

.data_contracts_item a:hover {
    text-decoration: none;
    color: gray;
}
