.PublicKeyBoundCard {
  display: flex;
  gap: var(--pe-space-1);
  font-size: var(--pe-text-sm);
}
.PublicKeyBoundCard__Title {
  white-space: nowrap;
  color: var(--pe-color-fg-muted);
}
.PublicKeyBoundCard__Id {
  overflow: hidden;
  font-size: var(--pe-text-sm);
}
.PublicKeyBoundCard__Id .ValueContainer__Value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.PublicKeyBoundCard__Type {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: var(--pe-space-1_5);
}
.PublicKeyBoundCard__TypeTitle {
  white-space: nowrap;
  color: var(--pe-color-fg-muted);
}
.PublicKeyBoundCard__TypeValue {
  color: var(--pe-color-fg);
}
