@use '../../styles/mixins.scss';
@use './variables' as pk;
@import '../../styles/variables.scss';

.PublicKeysList {
  container-type: inline-size;
  overflow-x: scroll;

  &__ScrollZone {
    width: fit-content;
  }

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include pk.Columns();
  }

  &__ColumnTitle {
    @include pk.Column();
  }
}
