@import '../../styles/variables.scss';

.Transactions {
    @media screen and (max-width: $breakpoint-md) {
        .ListNavigation {
            flex-direction: column;
            align-items: center;
        }

        .PageSizeSelector {
            margin-top: 10px;
            margin-left: auto;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        .PageSizeSelector {
            margin: 10px auto 0;
        }        
    }
}