.ContestedResourceContent__ValueContainer .Alias__SymbolsContainer {
  display: flex;
    flex-wrap: wrap;
}

.ContestedResourceContent {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-2);
  width: max-content;
  max-width: 100%;
  &__ValueContainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--pe-space-1);
    font-weight: var(--pe-font-weight-normal);
  }
  &__VoteBadges {
    margin-bottom: var(--pe-space-1);
  }
  &__ContendersBadge {
    display: inline-block;
  }
}
