.FeesCollectedCardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.FeesCollectedCardContent__FeesContainer {
  display: flex;
  align-items: center;
  width: max-content;
}

.FeesCollectedCardContent__InfoIcon {
  margin-left: var(--pe-space-2);
  width: 1rem;
  height: 1rem;
  color: var(--pe-color-brand-light);
}

.FeesCollectedCardContent__Day {
  display: flex;
  font-family: var(--pe-font-mono);
  font-size: 0.75rem;
  font-weight: normal;
}

.FeesCollectedCardContent__DayLabel {
  color: var(--pe-color-gray-500);
  margin-right: 8px;
}
