
.FeesCollectedCardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__FeesContainer {
    display: flex;
    align-items: center;
    width: max-content;
  }
}
