@import '../../../styles/variables.scss';

.TotalValidatorsCardContent {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__Avatars {
    .ImageGenerator {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }
  }

  &__Count {
    flex-grow: 1;
  }

  @media screen and (max-width: $breakpoint-md) {
    &__Avatars {
      .ImageGenerator {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
