.TotalValidatorsCardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.TotalValidatorsCardContent__Avatars .ImageGenerator {
  max-width: 2.5rem;
  max-height: 2.5rem;
}
.TotalValidatorsCardContent__Count {
  flex-grow: 1;
}
@media screen and (max-width: 48em) {
  .TotalValidatorsCardContent__Avatars .ImageGenerator {
    width: 2rem;
    height: 2rem;
  }
}
