@import '../../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1rem;

  grid-template-columns:
    4rem // timestamp
    minmax(7rem, 30rem) // ProTxHash
    minmax(8.125rem, 30rem) // Data Contract
    minmax(6rem, 30rem) // voter
    minmax(6rem, 30rem) // document
    minmax(8.125rem, 30rem) // towards identity
    7rem // choice
    4rem; // power

  @container (max-width: 68rem) {}
}

@mixin Column () {
  display: flex;
  align-items: center;

  &:last-child {
    justify-content: flex-end;
  }

  @container (max-width: 60rem) {
    &--IndexName, &--DocumentType {
      display: none;
    }
  }
}
