@use '../../../styles/mixins.scss';
@use './variables' as votes;
@import '../../../styles/variables.scss';

.VotesList {
  @include mixins.BrandScroll();
  @include mixins.List;
  container-type: inline-size;

  &__ListContainer {
    overflow-x: auto;
  }

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include votes.Columns();
    
    &--NoDataContract {
      @include votes.Columns(false);
    }
  }

  &__ColumnTitle {
    @include votes.Column();
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;

    &:last-child {
      text-align: right;
      justify-content: flex-end;
    }
  }
}
