@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ProportionsLine {
  display: flex;
  width: 100%;
  border-radius: 0.25rem;
  height: 1.5rem;
  gap: 0.25rem;
  @include mixins.displayUserSelect;

  &:hover & {
    &__Item {
      opacity: 0.1;
      transition: opacity 0.2s ease;
    }
  }

  &__Item {
    transition: width 0.3s ease, opacity 0.2s ease;
    min-width: min-content;

    &:hover {
      opacity: 1 !important;
    }

    &--Empty {
      opacity: .3;

      &:hover {
        opacity: .9;
      }
    }
  }

  &__Item:hover & {
    &__ItemLine {
      height: 0.438rem;
    }
  }

  &__ItemLine {
    border-radius: 0.25rem;
    width: 100%;
    height: 0.313rem;
    transition: .1s;
  }
  
  &__ItemValue {
    color: white;
    font-weight: 500;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
  }
}
