.root {
  display: flex;
  align-items: start;
}
@media screen and (max-width: 600px) {
  .root {
    flex-wrap: wrap;
  }
}
.root .subcategory {
  display: flex;
  align-items: start;
}
@media screen and (max-width: 1100px) {
  .root .subcategory {
    flex-wrap: wrap;
  }
}
.root .subcategory .container {
  width: fit-content;
  padding: 6px 10px;
  background-color: var(--pe-color-gray-800);
}
.root .subcategory .container .title {
  font-family: var(--pe-font-mono);
  font-size: 0.688rem;
}
.root .subcategory .container .card {
  margin-top: 8px;
  width: fit-content;
  padding: 6px 10px;
  background-color: rgba(88, 244, 188, 0.2);
}
.root .subcategory .container .card .title {
  color: #58f4bc;
  font-family: var(--pe-font-mono);
  font-size: 0.688rem;
}
.root .subcategory .container .card .header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}
.root .subcategory .container .card .list {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.root .subcategory .container .card .list .field {
  margin: 0;
  font-family: var(--pe-font-mono);
  line-height: 140%;
  font-size: 0.688rem;
  font-weight: 400;
}
