.title {
  font-family: var(--pe-font-heading);
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.container .position {
  padding: 8px 10px;
  width: fit-content;
  font-family: var(--pe-font-mono);
  color: var(--pe-color-fg);
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.container .localization {
  align-items: start;
}
@media screen and (max-width: 1200px) {
  .container .localization {
    flex-wrap: wrap;
  }
}
