@import 'variables.scss';


.title {
    font-family: $font-heading;
    font-size: 0.75rem;
    letter-spacing: .4px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 14px;
}

.position {
    padding: 8px 10px;
    width: fit-content;

    font-family: $font-mono;
    color: #FFFFFF;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}