@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Document {
  $gap: 1.25rem;

  &__Data {
    @include mixins.DigestCard();
    border-radius: $border-radius-medium;
    gap: 0.5rem;
  }

  &__DataTitle {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &__InfoBlocks {
    display: flex;
    gap: $gap;
  }

  &__InfoBlock {
    width: 50%;
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__InfoBlocks {
      flex-direction: column;
    }

    &__InfoBlock {
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    $gap: 0.75rem;

    &__InfoBlocks {
      flex-direction: column;
      gap: $gap;
    }

    &__InfoBlock {
      width: 100%;
    }
  }
}
