.Document {
  &__Data {
    padding: calc(var(--pe-space-3) + 0px);
  }
}

@media screen and (min-width: 48em) {
  .Document {
    &__Data {
      padding: calc(var(--pe-space-4) + 0px);
    }
  }
}

@media screen and (min-width: 62em) {
  .Document {
    &__Data {
      padding: calc(var(--pe-space-5) + 0px);
    }
  }
}

@media screen and (min-width: 80em) {
  .Document {
    &__Data {
      padding: calc(var(--pe-space-6) + 0px);
    }
  }
}

.Document__Data--Loading .InfoLine__Value {
  height: var(--pe-space-6);
}

.Document__Data__InfoContainer .InfoLine__Title svg {
  width: var(--pe-space-7);
  height: var(--pe-space-7);
}

.Document {
  &__Data {
    font-family: var(--pe-font-mono);
    font-size: var(--pe-text-sm);
    display: flex;
    flex-direction: column;
    gap: var(--pe-space-3_5);
    background: rgba(var(--pe-color-gray-800-rgb), 0.5);
    border-radius: var(--pe-radius-def);
    container-type: inline-size;
  }
  &__Data--Loading &__Data__InfoContainer {
    overflow: hidden;
  }
  &__Data--Loading &__Data__InfoContainerValue {
    width: 100px;
    max-width: 100%;
  }
  &__Data__RowContainer {
    display: flex;
    justify-content: space-between;
    gap: var(--pe-space-3_5);
  }
  &__Data__InfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--pe-space-1);
    padding: var(--pe-space-6);
    background: rgba(var(--pe-color-gray-800-rgb), 0.5);
    border-radius: var(--pe-radius-def);
    width: 100%;
  }
  &__Data__LinesContainer {
    flex-direction: column;
  }
  &__Data {
    border-radius: var(--pe-radius-block);
    gap: var(--pe-space-2);
  }
  &__DataTitle {
    font-family: var(--pe-font-heading);
    font-weight: var(--pe-font-weight-bold);
    font-size: var(--pe-text-sm);
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
  &__InfoBlocks {
    display: flex;
    gap: var(--pe-space-5);
  }
  &__InfoBlock {
    width: 50%;
  }
}

@media screen and (max-width: 62em) {
  .Document {
    &__InfoBlocks {
      flex-direction: column;
    }
    &__InfoBlock {
      width: 100%;
    }
  }
}

@media screen and (max-width: 48em) {
  .Document {
    &__InfoBlocks {
      flex-direction: column;
      gap: var(--pe-space-3);
    }
    &__InfoBlock {
      width: 100%;
    }
  }
}
