@use '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Slider {
  &__Navigation {
    margin-top: 15px;
  }

  &__Carousel {
    user-select: auto !important;
    -webkit-user-select: auto !important;
  }
}