@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ValidatorCard {
  @include mixins.EntityCard();

  &__Header {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .InfoLine--Loading .InfoLine {
    &__Value {
      height: 30px;
    }
  }

  &--Loading & {
    &__Avatar {
      position: absolute !important;
      @include mixins.LoadingContainer;
    }
  }

  &__Separator {
    margin: 12px 0;
  }

  &__BlockHeighValue {
    font-size: 0.813rem;
  }

  &__ProTxHash {
    .Identifier__SymbolsContainer {
      max-width: 232px;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__Header {
      .InfoLine {
        flex-wrap: wrap;
        justify-content: start;
        gap: 5px;

        &__Title {
          width: 100%;
        }

        &__Value {
          width: 100%;
          justify-content: flex-start;
          text-align: left;
        }
      }
    }

    &__Avatar {
      position: absolute;
      right: 16px;
      top: 20px;
      margin-right: 0;
    }

    &__ProTxHash {
      padding-right: 170px;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__ProTxHash {
      padding-right: 100px;
    }
  }
}