@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ValidatorListItem {
  @include mixins.DefListItem;
  display: block;
  width: 100%;
  background-color: var(--chakra-colors-gray-650);

  &--Loading {
    height: 46px !important;
  }

  &__Content {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 40rem) 150px 250px 250px 150px;
    justify-content: space-between;


    &--Inline {
      display: inline !important;
    }
  }

  &__Column {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-family: $font-mono;
    color: #fff;

    &--Active {
      width: 54px;
      display: flex;
      justify-content: center;
    }

    &:first-child {
      text-align: left;
      justify-content: flex-start;
    }
  }

  & &__IdentifierContainer {
    display: flex;
    align-items: center;
    border-bottom: 0;
    margin: -12px 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__Identifier {
    font-family: $font-mono;
    font-size: 1rem;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: $breakpoint-lg) {
    &__Content {
      grid-template-columns: calc(100% - 540px) 170px 170px 100px 100px;
    }
  }
}
