@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ValidatorsTotal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;

  &__Card {
    padding: 30px;
    width: 100%;
  }
}