.transaction_details {
    display: flex;
    flex-flow: column;
    background-color: #492f1a;
    padding: 20px;
}

.transaction_details_item {
    display: flex;
    justify-content: space-between;
}

.transaction_details_item__title {
  margin-right: 8px;
}

.transaction_details_item__value {
  word-break: break-all;
  text-align: right;
}
