.QuorumInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.QuorumInfo__LineContainer {
  display: flex;
  align-items: center;
  min-height: 3rem;
  border-radius: var(--pe-radius-def);
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  gap: 0.5rem;
  padding: 0.5rem 1.25rem;
}
.QuorumInfo__InfoLine {
  width: 100%;
  justify-content: flex-start;
}
.QuorumInfo__InfoLine .InfoLine__Title {
  width: 12.5rem;
}
.QuorumInfo__InfoLine .InfoLine__Value {
  line-height: 0.813rem;
}
.QuorumInfo .InfoLine--Loading .InfoLine__Value {
  width: 100% !important;
}
@media screen and (max-width: 62em) {
  .QuorumInfo__LineContainer {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 48em) {
  .QuorumInfo__InfoLine {
    justify-content: space-between;
  }
  .QuorumInfo__InfoLine .InfoLine__Title {
    width: 11rem;
  }
  .QuorumInfo__LineContainer {
    padding: 0.5rem 0.75rem;
  }
}
@media screen and (max-width: 30em) {
  .QuorumInfo .InfoLine__Title {
    width: 8rem;
  }
}
