.QuorumInfo__InfoLine .InfoLine__Title {
  width: 12.5rem;
}

.QuorumInfo__InfoLine .InfoLine__Value {
  line-height: 0.813rem;
}

.QuorumInfo .InfoLine--Loading .InfoLine__Value {
  width: 100%;
}

.QuorumInfo {
  display: flex;
  flex-direction: column;
  gap: var(--pe-space-2);
}

.QuorumInfo__LineContainer {
  display: flex;
  align-items: center;
  min-height: 3rem;
  border-radius: var(--pe-radius-def);
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  gap: var(--pe-space-2);
  padding: var(--pe-space-2) var(--pe-space-5);
}

.QuorumInfo__InfoLine {
  width: 100%;
  justify-content: flex-start;
}

@media screen and (max-width: 62em) {
  .QuorumInfo__LineContainer {
    padding: var(--pe-space-2) var(--pe-space-4);
  }
}

@media screen and (max-width: 48em) {
  .QuorumInfo__InfoLine .InfoLine__Title {
    width: 11rem;
  }

  .QuorumInfo__InfoLine {
    justify-content: space-between;
  }

  .QuorumInfo__LineContainer {
    padding: var(--pe-space-2) var(--pe-space-3);
  }
}

@media screen and (max-width: 30em) {
  .QuorumInfo .InfoLine__Title {
    width: 8rem;
  }
}
