@import '../../styles/variables.scss';

.IdentitiesPage {
  &__IntroTabs {
    width: 100%;
    padding-bottom: 0;

    .TimeframeSelector__Button {
      top: -2px !important;
    }

    .ChartBlock {
      &--MenuIsOpen {
        margin-bottom: -52px !important;
      }
    }
  }

  &__IdentitiesCountChart {
    overflow: visible !important;

    .Chart {
      overflow: visible !important;
    }
  }
}
