.DocumentsRevisionsListItem {
  display: flex;
  width: 100%;
  text-decoration: none;
  padding: var(--pe-list-row-pad-y) var(--pe-list-row-pad-x);
  margin-bottom: 8px;
  line-height: 24px;
  color: var(--pe-color-gray-100);
  font-family: var(--pe-font-mono);
  font-size: 12pt;
  border-radius: var(--pe-list-row-radius);
  border: 1px solid var(--pe-color-gray-750);
  background-color: rgba(var(--pe-color-gray-800-rgb), 0.5);
  transition: all 0.1s;
}
@media (hover: hover) and (pointer: fine) {
  .DocumentsRevisionsListItem:hover {
    background-color: var(--pe-color-gray-750);
    text-decoration: none;
    cursor: pointer;
  }
}
.DocumentsRevisionsListItem:active {
  transform: translateY(1px);
  box-shadow: 0 0 9999px 0 rgba(0, 0, 0, 0.25) inset;
}
.DocumentsRevisionsListItem:last-child {
  margin-bottom: 0;
}
.DocumentsRevisionsListItem__Column--Credits, .DocumentsRevisionsListItem__Column--Number {
  font-size: 0.75rem;
  font-weight: 700;
}
.DocumentsRevisionsListItem__IdentifierContainer {
  display: flex;
  align-items: center;
  min-width: 50px;
}
.DocumentsRevisionsListItem__Avatar {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  margin-right: 12px;
}
.DocumentsRevisionsListItem--Timestamp, .DocumentsRevisionsListItem__Column--Timestamp {
  font-family: var(--pe-font-mono);
  white-space: nowrap;
  color: var(--pe-color-fg);
}
.DocumentsRevisionsListItem--Timestamp,
.DocumentsRevisionsListItem--Timestamp .DateBlock__Date, .DocumentsRevisionsListItem__Column--Timestamp,
.DocumentsRevisionsListItem__Column--Timestamp .DateBlock__Date {
  font-size: 0.75rem;
}
.DocumentsRevisionsListItem {
  display: block;
}
.DocumentsRevisionsListItem__Content {
  display: grid;
  gap: 16px;
  grid-template-columns: 70px minmax(0, 600px) minmax(0, 400px) minmax(0, 150px) minmax(120px, 150px) 65px;
}
@container (max-width: 38rem) {
  .DocumentsRevisionsListItem__Content {
    grid-template-columns: 70px minmax(0, 600px) minmax(0, 400px) 65px;
  }
}
@container (max-width: 24rem) {
  .DocumentsRevisionsListItem__Content {
    grid-template-columns: 70px minmax(0, 600px) 65px;
  }
}
.DocumentsRevisionsListItem__Column {
  display: flex;
  align-items: center;
}
.DocumentsRevisionsListItem__Column--Timestamp {
  max-width: 70px;
}
.DocumentsRevisionsListItem__Column--Owner {
  overflow: hidden;
}
@container (max-width: 38rem) {
  .DocumentsRevisionsListItem__Column--GasUsed {
    display: none;
  }
  .DocumentsRevisionsListItem__Column--TransitionType {
    display: none;
  }
}
@container (max-width: 24rem) {
  .DocumentsRevisionsListItem__Column--Owner {
    display: none;
  }
}
.DocumentsRevisionsListItem__Column--Revision {
  justify-content: flex-end;
}
.DocumentsRevisionsListItem__Column .ValueContainer {
  max-width: 100%;
}
.DocumentsRevisionsListItem__ColumnContent {
  overflow: hidden;
}
