@import '../../styles/variables.scss';

.CompactBlocksList {
  &__Txs {
    display: inline-block;
    padding: 1px 7px;
    border-radius: 4px;
    font-family: $font-mono;
    font-size: 0.625rem;
    color: $color-brand-light;
    background: rgba(var(--chakra-colors-brand-normal-rgb), 0.12);
    white-space: nowrap;
  }
}
