@import '../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 16px;

  grid-template-columns: 
    minmax(120px, 120px) // time
    minmax(0, 600px) // hash
    auto // gas used
    minmax(0, 400px) // owner
    150px; // type

  @container (max-width: 810px) {
    grid-template-columns: 
      minmax(120px, 120px)
      minmax(0, 240px)
      minmax(0, 1fr)
      auto;
  }

  @container (max-width: 660px) {
    grid-template-columns: 
      minmax(120px, 120px)
      minmax(0, 600px)
      20px
      auto;
  }

  @container (max-width: 430px) {
    gap: 12px;
    grid-template-columns: 
      minmax(120px, 120px)
      minmax(0, 600px)
      auto;
  }

  @container (max-width: 400px) {
    grid-template-columns: 
      minmax(80px, 80px)
      minmax(0, 600px)
      auto;
  }
}

@mixin Column () {
  display: flex;
  align-items: center;

  &--Hash {
    max-width: 600px;
  }

  &--Owner {
    max-width: 400px;
    width: 100%;
  }

  &--Type {
    justify-content: flex-end;
    white-space: nowrap;
  }

  &--GasUsed {
    width: 150px;
  }

  @container (max-width: 810px) {
    &--GasUsed {
      display: none;
    }
  }

  @container (max-width: 430px) {
    &--Owner {
      display: none;
    }
  }
}

@mixin CardPaddings ($property) {
  #{$property}: 40px !important;

  @media screen and (max-width: $breakpoint-md) {
    #{$property}: 32px !important;
  }

  @media screen and (max-width: $breakpoint-sm) {
    #{$property}: 16px !important;
  }
}