@use '../../styles/list-grid' as grid;
@use '../../styles/breakpoints' as bp;

@mixin Columns() {
  @include grid.list-grid(16px);

  grid-template-columns:
    6.5rem // status
    minmax(0, 1fr) // hash
    6rem // block
    11rem // gas used
    minmax(0, 1fr) // owner
    10rem // type
    10.5rem; // time

  @container (max-width: 810px) {
    grid-template-columns:
      minmax(0, 1fr) // hash
      minmax(0, 1fr) // owner
      10rem // type
      10.5rem; // time
  }

  @container (max-width: 660px) {
    grid-template-columns:
      minmax(0, 1fr) // hash
      20px // owner
      10rem // type
      10.5rem; // time
  }

  @container (max-width: 430px) {
    gap: 12px;
    grid-template-columns:
      minmax(0, 1fr) // hash
      8rem // type
      9rem; // time
  }

  @container (max-width: 400px) {
    grid-template-columns:
      minmax(0, 1fr) // hash
      7rem // type
      8rem; // time
  }
}

@mixin Column() {
  @include grid.list-grid-cell;

  &--Status,
  &--Hash,
  &--Owner {
    @include grid.list-grid-cell-start;
  }

  &--Owner {
    min-width: 0;
    width: 100%;
  }

  &--Type {
    white-space: nowrap;
  }

  &--GasUsed {
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
  }

  &--Timestamp {
    @include grid.list-grid-cell-end;
  }

  @container (max-width: 810px) {
    &--GasUsed,
    &--Status,
    &--Block {
      display: none;
    }
  }

  @container (max-width: 430px) {
    &--Owner {
      display: none;
    }
  }
}

@mixin CardPaddings($property) {
  #{$property}: 40px !important;

  @include bp.bp-max('md') {
    #{$property}: 32px !important;
  }

  @include bp.bp-max('sm') {
    #{$property}: 16px !important;
  }
}
