.FeeMultiplier {
  font-size: 0.688rem;
  font-weight: 400;
  font-family: var(--pe-font-mono);
  text-align: center;
  padding: 6px 10px;
  border-radius: 8px;
  display: inline-block;
}
.FeeMultiplier--Green {
  background-color: rgba(91, 244, 88, 0.2);
  color: #5BF458;
}
.FeeMultiplier--Yellow {
  background-color: rgba(223, 244, 88, 0.2);
  color: #DFF458;
}
.FeeMultiplier--LightOrange {
  background-color: rgba(244, 210, 88, 0.2);
  color: #F4D258;
}
.FeeMultiplier--Orange {
  background-color: rgba(228, 152, 0, 0.2);
  color: #E49800;
}
.FeeMultiplier--RedOrange {
  background-color: rgba(244, 135, 88, 0.2);
  color: #F48758;
}
.FeeMultiplier--Red {
  background-color: rgba(244, 88, 144, 0.2);
  color: #F45890;
}
