@use '../../styles/mixins.scss';
@use './variables' as txs;
@import '../../styles/variables.scss';

.PublicKeyCard {
  @include txs.CardPaddings(padding);

  &__InfoLine {
    justify-content: flex-start;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &--Data, &--Hash  {
      white-space: wrap;
      word-break: break-all;
    }

    .InfoLine__Title {
      width: 150px !important;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__InfoLine {
      .InfoLine {
        .InfoLine__Value {
          flex-grow: 1;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__InfoLine {
      flex-wrap: wrap;
      justify-content: space-between;

      .InfoLine__Title {
        width: auto !important;
      }

      &--Data {
        flex-wrap: wrap;

        .InfoLine__Title {
          margin-bottom: 8px;
        }

        .InfoLine__Value {
          width: 100%;
        }

        .ValueCard {
          width: 100%;
        }
      }
    }
  }
}
