@use '../../styles/mixins.scss';
@use './variables' as txs;
@import '../../styles/variables.scss';

.TransactionsList {
  &__ColumnTitles {
    @include mixins.defListTitles;
    @include txs.Columns();
  }

  &__ColumnTitle {
    @include txs.Column();
    width: 100%;
    display: block;
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;

    &--Hash {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }

  @media screen and (max-width: 660px) {
    &__ColumnTitle {
      &--Sender {
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }
}
