@use '../../styles/mixins.scss';
@use './variables' as txs;
@import '../../styles/variables.scss';

.TransactionsList {
  @include mixins.List;
  container-type: inline-size;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include txs.Columns();
  }

  &__ColumnTitle {
    @include txs.Column();
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;

    &--Hash {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }

  @container (max-width: 660px) {
    &__ColumnTitle {
      &--Owner {
        white-space: nowrap;
        width: 20px;
      }

      &--Type {
        width: 145px;
      }
    }
  }

  @container (max-width: 350px) {
    &__ColumnTitle {
      &--Type {
        width: max-content;
      }
    }
  }
}
