.TransitionCard {
  padding: var(--pe-space-10);
}

@media screen and (max-width: 48em) {
  .TransitionCard {
    padding: var(--pe-space-8);
  }
}

@media screen and (max-width: 30em) {
  .TransitionCard {
    padding: var(--pe-space-4);
  }
}
