@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TransactionsListItem {
  @include mixins.DefListItem;
  display: block;

  &__Content {
    display: grid;
    grid-template-columns: 100px 1fr auto;

    &--Inline {
      display: inline !important;
    }
  }

  &__Column {
    display: flex;
    align-items: center;

    &--Timestamp {
      font-family: $font-mono;
      font-size: 12px;
      margin-right: 16px;
      white-space: nowrap;
      color: #fff;
    }

    &--Identifier {
      color: var(--chakra-colors-gray-250);
      font-family: $font-mono;
      flex-grow: 1;
      margin-right: 16px;
      font-size: 12px;
      
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
    }

    &--Type {
      justify-content: flex-end;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
      &__Column {
        &--Timestamp {
          grid-column: 1 / 1;
        }

        &--Identifier {
          order: 3;
          grid-column: 1 / -1;
          margin-right: 0;
          margin-top: 12px;
        }

        &--Type {
          grid-column: 0 / 1;
        }
      }

      &__Content {
        grid-template-columns: 1fr 1fr;
      }
  }
}