.TypeBadge {
  max-width: 100%;
  min-width: 0;
  display: inline-flex;
  align-items: center;
  height: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
  overflow: hidden;
}

.TypeBadge__Label {
  display: block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  font-size: 0.625rem;
}
