.VoteIndexValues {
  background-color: var(--pe-color-gray-650);
  border: 1px solid #404e53;
  border-radius: var(--pe-radius-def);
  font-size: var(--pe-text-sm);
  font-family: var(--pe-font-mono);
  &__Row,
  &__Titles {
    display: flex;
    justify-content: space-between;
    gap: var(--pe-space-2);
    padding: var(--pe-space-3);
    border-bottom: 1px solid #404e53;
  }
  &__Row:last-child,
  &__Titles:last-child {
    border-bottom: none;
  }
  &__Col,
  &__Title {
    white-space: wrap;
    word-break: break-all;
  }
  &__Col:nth-child(2),
  &__Title:nth-child(2) {
    flex-shrink: 0;
  }
  &__Titles {
    color: var(--pe-color-fg-muted);
  }
}
