.TotalCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.TotalCards__Item {
  width: calc(50% - 10px);
  margin: 10px 0;
  padding: 24px;
}
@media screen and (max-width: 48em) {
  .TotalCards__Item {
    width: 100%;
  }
}
