@import '../../styles/variables.scss';

.TotalCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &__Item {
    width: calc(50% - 10px);
    margin: 10px 0;
    padding: 24px;
  }

  @media screen and (max-width: $breakpoint-md) {
    &__Item {
      width: 100%;
    }
  }
}