@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TotalInfoItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px !important;
  font-family: $font-heading;
  font-weight: 800;
  font-style: italic;
  
  &::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
  }

  &--Clikable {
    transition: all .2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, .05);
      }
    }

    &:active {
      transform: translateY(1px);
      background: rgba(255, 255, 255, 0.025) !important;
    }
  }

  &--Blocks {
    &::before {
      background: url('/images/icons/block.svg') no-repeat center;
      background-size: contain;
    }
  }

  &--Transactions {
    &::before {
      background: url('/images/icons/transactions.svg') no-repeat center;
      background-size: contain;
    }
  }

  &--DataContracts {
    &::before {
      background: url('/images/icons/data-contract.svg') no-repeat center;
      background-size: contain;
    }
  }

  &--Documents {
    &::before {
      background: url('/images/icons/document.svg') no-repeat center;
      background-size: contain;
    }
  }

  &--Transfers {
    &::before {
      background: url('/images/icons/transfers.svg') no-repeat center;
      background-size: contain;
    }
  }

  &--Identities {
    &::before {
      background: url('/images/icons/identities.svg') no-repeat center;
      background-size: contain;
    }
  }

  .TotalInfo--Christmas & {
    &--Blocks {
      &::before {
        background: url('/images/icons/block-present.svg') no-repeat center;
        background-size: contain;
        height: 48px;
        width: 48px;
        margin-bottom: 16px;
      }
    }
  }

  &__Title {
    color: $color-brand-normal;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    a & {
      padding-right: 24px;

      &::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 16px;
        height: 16px;
        background: url('/images/icons/chevron-right.svg') no-repeat center;
        background-color: rgba(0, 141, 228, .2);
        border-radius: 4px;
      }
    }

    a:hover & {
      &::after {
        background-color: rgba(0, 141, 228, .3);
      }
    }
  }

  &__Value {
    font-size: 2.125rem;

    &--Loading {
      @include mixins.LoadingLine;

      opacity: .5;
      border-radius: 5px;
      animation-delay: 100ms;
      width: 100%;
      border-radius: 999px;
    }
  }

  @media screen and (max-width: 1140px) {
    padding: 20px !important;
  }

  @media screen and (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 !important;

    &::before {
      transform: none;
      margin-bottom: 8px;
    }

    &__Title {
      text-align: center;
    }
  }
}