@import '../../styles/variables.scss';

.TotalInfo {
    &__ContentContainer {
        margin: 0 auto;
    }

    &__Item {
        width: calc(100% / 5 - 20px);
    }

    @media screen and (max-width: $breakpoint-md) {
        &__Item {
            width: calc(50% - 10px);
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            &:last-child {
                margin: 0 auto;
                width: 100%;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 400px) {
        &__Item {
            width: 100%;
        }
    }
}