.TotalInfoItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px !important;
  font-family: var(--pe-font-heading);
  font-weight: var(--pe-font-weight-extrabold);
  font-style: italic;
}
.TotalInfoItem::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  margin-bottom: var(--pe-space-5);
}
.TotalInfoItem--Clikable {
  transition: all 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .TotalInfoItem--Clikable:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
.TotalInfoItem--Clikable:active {
  transform: translateY(1px);
  background: rgba(255, 255, 255, 0.025) !important;
}
.TotalInfoItem--Blocks::before {
  background: url("/images/icons/block.svg") no-repeat center;
  background-size: contain;
}
.TotalInfoItem--Transactions::before {
  background: url("/images/icons/transactions.svg") no-repeat center;
  background-size: contain;
}
.TotalInfoItem--DataContracts::before {
  background: url("/images/icons/data-contract.svg") no-repeat center;
  background-size: contain;
}
.TotalInfoItem--Documents::before {
  background: url("/images/icons/document.svg") no-repeat center;
  background-size: contain;
}
.TotalInfoItem--Transfers::before {
  background: url("/images/icons/transfers.svg") no-repeat center;
  background-size: contain;
}
.TotalInfoItem--Identities::before {
  background: url("/images/icons/identities.svg") no-repeat center;
  background-size: contain;
}
.TotalInfo--Christmas .TotalInfoItem--Blocks::before {
  background: url("/images/icons/block-present.svg") no-repeat center;
  background-size: contain;
  height: 48px;
  width: 48px;
  margin-bottom: var(--pe-space-4);
}
.TotalInfoItem__Title {
  color: var(--pe-color-brand-normal);
  font-size: var(--pe-text-md);
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
a .TotalInfoItem__Title {
  padding-right: var(--pe-space-6);
}
a .TotalInfoItem__Title::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: var(--pe-space-4);
  height: var(--pe-space-4);
  background: url("/images/icons/chevron-right.svg") no-repeat center;
  background-color: rgba(0, 141, 228, 0.2);
  border-radius: var(--pe-radius-sm);
}
a:hover .TotalInfoItem__Title::after {
  background-color: rgba(0, 141, 228, 0.3);
}
.TotalInfoItem__Value {
  font-size: 2.125rem;
}
.TotalInfoItem__Value--Loading {
  overflow: hidden;
  position: relative;
}
@keyframes LoadingLine {
  0% {
    left: -100%;
    width: 100%;
  }
  50% {
    left: 100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}
.TotalInfoItem__Value--Loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pe-color-gray-900);
  border-radius: 5px;
  opacity: 1;
}
.TotalInfoItem__Value--Loading::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: -50%;
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, rgb(14, 117, 181) 0%, rgb(22, 82, 120) 100%);
  border-radius: 100px;
  opacity: var(--pe-opacity-faint);
  animation: LoadingLine linear 3s infinite;
}
Tr .TotalInfoItem__Value--Loading::before {
  background-color: var(--pe-color-gray-800);
  opacity: var(--pe-opacity-subtle);
}
.TotalInfoItem__Value--Loading:nth-child(1n)::after {
  animation-delay: -0.5s;
}
Tr:nth-child(1n) .TotalInfoItem__Value--Loading::after {
  animation-delay: -0.5s;
}
.TotalInfoItem__Value--Loading:nth-child(2n)::after {
  animation-delay: 0s;
}
Tr:nth-child(2n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 0s;
}
.TotalInfoItem__Value--Loading:nth-child(3n)::after {
  animation-delay: 0.5s;
}
Tr:nth-child(3n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 0.5s;
}
.TotalInfoItem__Value--Loading:nth-child(4n)::after {
  animation-delay: 1s;
}
Tr:nth-child(4n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 1s;
}
.TotalInfoItem__Value--Loading:nth-child(5n)::after {
  animation-delay: 1.5s;
}
Tr:nth-child(5n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 1.5s;
}
.TotalInfoItem__Value--Loading:nth-child(6n)::after {
  animation-delay: 2s;
}
Tr:nth-child(6n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 2s;
}
.TotalInfoItem__Value--Loading:nth-child(7n)::after {
  animation-delay: 2.5s;
}
Tr:nth-child(7n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 2.5s;
}
.TotalInfoItem__Value--Loading:nth-child(8n)::after {
  animation-delay: 3s;
}
Tr:nth-child(8n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 3s;
}
.TotalInfoItem__Value--Loading:nth-child(9n)::after {
  animation-delay: 3.5s;
}
Tr:nth-child(9n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 3.5s;
}
.TotalInfoItem__Value--Loading:nth-child(10n)::after {
  animation-delay: 4s;
}
Tr:nth-child(10n) .TotalInfoItem__Value--Loading::after {
  animation-delay: 4s;
}
.TotalInfoItem__Value--Loading {
  opacity: var(--pe-opacity-muted);
  border-radius: 5px;
  animation-delay: 100ms;
  width: 100%;
  border-radius: 999px;
}
@media screen and (max-width: 1140px) {
  .TotalInfoItem {
    padding: var(--pe-space-5) !important;
  }
}
@media screen and (max-width: 62em) {
  .TotalInfoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--pe-space-5) 0 !important;
  }
  .TotalInfoItem::before {
    transform: none;
    margin-bottom: var(--pe-space-2);
  }
  .TotalInfoItem__Title {
    text-align: center;
  }
}
