@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TotalInfo {
  @include mixins.BrandScroll();

  &__ContentContainer {
    margin: 0 auto;
  }

  &__Item {
    @include mixins.BlockSpacing(margin-right);
    width: calc(100% / 5 - 40px);
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    overflow-y: auto;
    padding-bottom: 4px;

    &__ContentContainer {
      flex-wrap: nowrap !important;
      padding-bottom: 4px;

      &::after {
        content: '';
        display: block;
        width: 2px;
        flex-shrink: 0;
      }
    }

    &__Item {
      width: 25%;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &__ContentContainer {
      &::before {
        width: calc((100% - 40%) / 2);
      }
    }

    &__Item {
      width: 40%;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &__Item {
      width: 70%;
    }
  }
}