@use '../../../styles/mixins';
@use './variables' as ti;
@import '../../../styles/variables';

.TopIdentities {
  width: 100%;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include ti.Columns();
  }

  &__ColumnTitle {
    @include ti.Column();
    width: 100%;
    display: block;
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;
  }
}
