@use '../../styles/mixins.scss';
@use './variables' as transfers;
@import '../../styles/variables.scss';

.TransfersList {
  container-type: inline-size;
  overflow-y: auto;
  @include mixins.BrandScroll;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include transfers.Columns();
  }

  &__ColumnTitle {
    @include transfers.Column();
    overflow: visible !important;

    &:last-child {
      text-align: right;
    }
  }

  @container (max-width: 580px) {
    &__Items, &__ContentContainer {
      min-width: max-content;
    }
  }
}