@use '../../styles/mixins.scss';
@use './variables' as transfers;
@import '../../styles/variables.scss';

.TransfersListItem {
  @include mixins.DefListItem(false);

  &--Clickable {
    @include mixins.DefListItem(true);
  }

  &__Content {
    @include transfers.Columns();
  }

  &__Column {
    @include transfers.Column();

    &--Amount, &--GasUsed {
      font-size: 0.75rem;
      font-weight: 700;
    }
  }

  &__ContentWrapper {
    width: 100%;
  }
}