@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.TransfersListItem {
    @include mixins.DefListItem;

    flex-wrap: wrap;
    
    &:hover {
        cursor: default;
    }

    &__Amount {
        flex-grow: 1;
    }

    &__Direction {
        width: 48px;
        display: inline-block;
        text-align: center;
    }

    &__InfoLine {
        width: 100%;
        display: flex;
    }

    &__Counterparty {
        color: var(--chakra-colors-gray-200);
        font-family: $font-mono;
        font-size: 12pt;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        margin-left: auto;

        &:before {
            content:  attr(title) ':';
            margin-right: 4px;
            color: var(--chakra-colors-gray-600);
        }
    }
}