.NavigationButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--pe-space-3);
  justify-content: space-between;
  width: 100%;
  padding: var(--pe-space-3) var(--pe-space-5);
  background-color: transparent;
  border-radius: var(--pe-radius-def);
  white-space: nowrap;
  font-weight: var(--pe-font-weight-medium);
  font-size: var(--pe-text-sm);
  letter-spacing: 0.025rem;
  transition: background-color ease 0.5s;
  font-family: var(--pe-font-heading);
}
.NavigationButton:hover {
  background-color: var(--pe-color-gray-550);
}
.NavigationButton:hover .NavigationButton__SubName {
  background-color: var(--pe-color-gray-525) !important;
}
.NavigationButton__SubName {
  border-radius: 5px;
  padding: var(--pe-space-1) var(--pe-space-2_5);
  background-color: var(--pe-color-gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--pe-font-weight-normal);
  font-size: var(--pe-text-2xs);
  letter-spacing: 0.04em;
  transition: background-color ease 0.5s;
}

.NavigationButton__Active {
  background-color: var(--pe-color-brand-normal) !important;
}
.NavigationButton__Active:hover {
  cursor: default;
}

.NavigationButton__NoActive {
  cursor: no-drop !important;
}
