.status {
    display: flex;
    flex-flow: column;
    background-color: #491a1a;
    padding: 10px;
    min-width: 300px;
}

.status_item {
    display: flex;
    justify-content: space-between;
}

.last_transactions {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    background-color: #492f1a;
    padding: 10px;
    color: wheat;
}

.last_transactions_item {
    padding-top: 5px;
    color: black;
    word-break: break-all;
}

.last_transactions_item a {
    color: white;
    text-decoration: none;
}


.last_transactions_item a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 350px) {
  .status {
      width: calc(100% - 20px);
      min-width: auto;
  }
}
