@import '../../styles/variables.scss';

@mixin Columns () {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 10rem;
}

@mixin Column () {
  display: flex;
  align-items: center;

  &:last-child {
    justify-content: flex-end;
  }
}
