@use '../../styles/list-grid' as grid;

@mixin Columns() {
  @include grid.list-grid(1rem);

  grid-template-columns: minmax(0, 1fr) 12rem 7rem 7rem 8rem 11rem;

  @container (max-width: 72rem) {
    grid-template-columns: minmax(0, 1fr) 12rem 7rem 7rem 11rem;

    .IdentitiesList__ColumnTitle--Contracts,
    .IdentitiesListItem__Column--Contracts {
      display: none;
    }
  }

  @container (max-width: 56rem) {
    grid-template-columns: minmax(0, 1fr) 12rem 7rem 11rem;

    .IdentitiesList__ColumnTitle--Documents,
    .IdentitiesListItem__Column--Documents {
      display: none;
    }
  }

  @container (max-width: 44rem) {
    grid-template-columns: minmax(0, 1fr) 11rem;

    .IdentitiesList__ColumnTitle--Balance,
    .IdentitiesListItem__Column--Balance,
    .IdentitiesList__ColumnTitle--Txs,
    .IdentitiesListItem__Column--Txs {
      display: none;
    }
  }
}

@mixin Column() {
  @include grid.list-grid-cell;
  white-space: nowrap;

  &--Identifier {
    @include grid.list-grid-cell-start;
  }

  &--Balance,
  &--Txs,
  &--Documents,
  &--Contracts {
    font-variant-numeric: tabular-nums;
  }

  &--Timestamp {
    @include grid.list-grid-cell-end;
  }
}
