@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.IdentitiesListItem {
    @include mixins.def_list_item;

    justify-content: space-between;

    &__Identifier {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 16px;
    }    

    &__Timestamp {
        white-space: nowrap;
    }

    @media screen and (max-width: $breakpoint-sm) {
        flex-wrap: wrap;

        &__Identifier {
            width: 100%;
            margin-right: 0;
        }

        &__Timestamp {
            white-space: wrap;
        }
    }
}