@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.IdentityCard {
  &--Loading {
    height: 58px;
  }

  &__Img {
    width: 42px;
    height: 42px;
    margin: -10px 10px -10px 0;
    flex-shrink: 0;
  }

  &__AliasContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
  }

  &__Alias {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 65px);
    overflow: hidden;
  }

  &__Balance {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 0.75rem;
    color: #fff;
    font-family: $font-mono;
  }
}