@use '../../styles/mixins.scss';
@use './variables' as identities;
@import '../../styles/variables.scss';

.IdentitiesListItem {
  @include mixins.DefListItem;
  display: block;

  &__Content {
    @include identities.Columns();
  }

  &__Column {
    @include identities.Column();

    &--Identifier {
      overflow: hidden;
    }

    &--Balance,
    &--Txs,
    &--Documents,
    &--Contracts {
      font-family: $font-mono;
      font-size: 0.75rem;
      color: var(--chakra-colors-white-50);
    }
  }
}