@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.IdentityCard {
    &__Img {
        @include mixins.avatar-container;

        width: 42px;
        height: 42px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
        margin: -10px 10px -10px 0;
        flex-shrink: 0;
    }

    &__Balance {
        color: var(--chakra-colors-gray-500);
    }
}