@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.IdentityCard {
  &--Loading {
    height: 58px;
  }

  &__Img {
    width: 42px;
    height: 42px;
    margin: -10px 10px -10px 0;
    flex-shrink: 0;
  }

  &__AliasContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__Alias {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 65px);
    overflow: hidden;
  }

  &__Balance {
    color: var(--chakra-colors-gray-500);
  }
}