@use '../../styles/mixins.scss';
@use './variables' as identities;
@import '../../styles/variables.scss';

.IdentitiesList {
  @include mixins.List;
  container-type: inline-size;

  &__ColumnTitles {
    @include mixins.defListTitles;
    @include identities.Columns();
  }

  &__ColumnTitle {
    @include identities.Column();
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      text-align: right;
    }
  }

  &__EmptyMessage {
    text-align: center;
  }
}